<section class="about">
    <div class="about__container container">
        <div class="about__items">
            <a href="#" class="about__link">
                <img src="./img/about-img1.jpg" alt="" />
                <h3>About Active Query Builder</h3>
                <span
                    >Find out more about AGB if you want to understand which edition is suitable
                    you.</span
                >
            </a>
            <a href="#" class="about__btn">Learn more</a>
        </div>
        <div class="about__items">
            <a href="#" class="about__link">
                <img src="./img/about-img2.jpg" alt="" />
                <h3>We are ready to offer a cloud solution!</h3>
                <span
                    >The component can be shipped as a cloud service or containerized hosted
                    solution.</span
                >
            </a>
            <a href="#" class="about__btn">Preorder now!</a>
        </div>
        <div class="about__items">
            <a href="#" class="about__link">
                <img src="./img/about-img3.jpg" alt="" />
                <h3>Ready to purchase?</h3>
                <span
                    >You can order a quote or safely place your order online via the global
                    e-commerce provider.</span
                >
            </a>
            <a href="#" class="about__btn">Order now!</a>
        </div>
    </div>
</section>
