<section class="demo">
    <div class="demo__container container">
        <h2>
            With Active Query Builder, users are confident in SQL queries and make data-based
            decision faster
        </h2>
        <div class="demo__items">
            <div class="demo__items_card">
                <img src="./img/demo-img1.png" alt="" />
                <div class="demo__items_title">Instant data browsing</div>
                <span>Information is shown as the user builds a query.</span>
            </div>
            <div class="demo__items_card">
                <img src="./img/demo-img2.png" alt="" />
                <div class="demo__items_title">Reverse engineering</div>
                <span>Parsing and visual representation of plain text SQL queries.</span>
            </div>
            <div class="demo__items_card">
                <img src="./img/demo-img3.png" alt="" />
                <div class="demo__items_title">Helpful tips and warnings</div>
                <span>Users can no longer shoot themselves in the foot.</span>
            </div>
        </div>
        <a href="#">Try the online demo</a>
    </div>
</section>
