<section class="header__users header-bg">
    <div class="header__users_wrapper container">
        <div class="header__users_title">
            <h1>Active Query Builder for End Users</h1>
            <a href="#">Request a Demo</a>
        </div>
        <img class="header__users_bg" src="./img/users-bg.png" alt="" />
    </div>
</section>
