<section class="header__owners header-bg">
    <div class="header__owners_wrapper container">
        <div class="header__owners_title">
            <h1>Active Query Builder for Product Owners</h1>
            <a href="#">Request a quote</a>
        </div>
        <img class="header__owners_bg" src="./img/owners-bg.png" alt="" />
    </div>
</section>
