<section class="help">
    <div class="help__container container">
        <div class="help__info">
            <h2>Need help?</h2>
            <p>
                We are here to help you to effortlessly integrate Active Query Builder into your IT
                infrastructure, quickly educate your end users to use the SQL-based reporting
                solution, and easily get answers to all of your questions.
            </p>
            <a href="#" class="contact__us">Contact us</a>
        </div>
    </div>
</section>
