<div id="nav" class="header-fixed" data-mode="desktop">
    <div class="header-container container">
        <div class="logo-header">
            <a href="#" title="Active Query Builder Home Page">
                <svg class="logo-icon">
                    <use xlink:href="img/sprite.svg#logo"></use>
                </svg>
            </a>
        </div>
        <div class="nav-title">
            <a href="#" class="logo-title__link">
                <svg class="logo-title">
                    <use xlink:href="img/sprite.svg#logo-title"></use>
                </svg>
            </a>
        </div>
        <div class="cl-toggle burger__menu">
            <span class="burger__menu--span"></span>
            <span class="burger__menu--span"></span>
            <span class="burger__menu--span"></span>
            <span class="burger__menu--span"></span>
        </div>
        <nav class="primary-nav" id="primary-nav">
            <div class="nav__container">
                <ul>
                    <li>
                        <a
                            id="head-menu-index"
                            href=""
                            class="home hover-link menu__show menu__show_hide"
                            title="Active Query Builder home page"
                            data-menu="subcontent1"
                            >WHY AQB
                            <div class="arrow__tooltip"></div>
                        </a>
                        <div class="tooltip__menu" data-menu="subcontent1">
                            <div class="tooltip__content">
                                <ul>
                                    <li class="tooltip__item">
                                        <div class="tooltip__wrapper">
                                            <a href="#" class="tooltip__link"
                                                >For product owners
                                            </a>
                                        </div>
                                    </li>
                                    <li class="tooltip__item">
                                        <div class="tooltip__wrapper">
                                            <a href="#" class="tooltip__link">For end-users </a>
                                        </div>
                                    </li>
                                    <li class="tooltip__item">
                                        <div class="tooltip__wrapper">
                                            <a href="#" class="tooltip__link"> For developers </a>
                                        </div>
                                    </li>
                                </ul>
                                <ul class="tooltip__submenu">
                                    <li class="tooltip__item hidden__link">
                                        <a href="#" class="tooltip__link">Blog</a>
                                    </li>
                                    <li class="tooltip__item">
                                        <a href="#" class="tooltip__link">Testimonials</a>
                                    </li>
                                    <li class="tooltip__item">
                                        <a href="#" class="tooltip__link">About ActiveDBSoft</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a
                            id="head-menu-product"
                            href="https://www.activequerybuilder.com/product.html"
                            class="hover-link menu__show menu__show_hide"
                            title="SQL Query Builder - features and versions"
                            data-menu="subcontent2"
                            >PRODUCTS
                            <div class="arrow__tooltip"></div
                        ></a>
                        <div class="tooltip__menu tooltip__menu_for" data-menu="subcontent2">
                            <div class="tooltip__content tooltip__content_for">
                                <ul>
                                    <li>
                                        <div class="tooltip__block">
                                            <div class="tooltip__menu_title">For Developers</div>
                                            <div
                                                class="tooltip__menu_links tooltip__menu_links-grid"
                                            >
                                                <ul class="tooltip__ul_grid1">
                                                    <li>FOR DESKTOP</li>
                                                    <li><a href="#">.NET WinForms</a></li>
                                                    <li><a href="#">.NET WPF</a></li>
                                                    <li><a href="#">Delphi / C++Builder</a></li>
                                                    <li><a href="#">Java</a></li>
                                                    <li><a href="#">ActiveX</a></li>
                                                </ul>
                                                <ul class="tooltip__ul_grid2">
                                                    <li>FOR WEB</li>
                                                    <li><a href="#">ASP.NET</a></li>
                                                </ul>
                                                <ul class="tooltip__ul_grid3">
                                                    <li>ONLINE SERVICES</li>
                                                    <li><a href="#">SQL Text Formatter</a></li>
                                                    <li><a href="#">SQL Query Analyzer</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="tooltip__block">
                                            <div class="tooltip__menu_title">For End-users</div>
                                            <div class="tooltip__menu_links end__users">
                                                <a href="#">FlySpeed SQL Query</a>
                                                <span
                                                    >A handy too to work with SQL queries and data
                                                    with a friendly Visual Query Builder</span
                                                >
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="blogs">
                        <a
                            id="head-menu-download"
                            href="https://www.activequerybuilder.com/download.html"
                            class="hover-link"
                            title="Download Visual Query Builder"
                            >PRICING</a
                        >
                    </li>
                    <li>
                        <a
                            id="head-menu-livedemo"
                            href="http://aspquerybuilder.net/"
                            class="hover-link menu__show menu__show_hide"
                            title="Active Query Builder ASP.NET MVC Online Demo"
                            data-menu="subcontent3"
                            >RESOURCES
                            <div class="arrow__tooltip"></div
                        ></a>
                        <div class="tooltip__menu" data-menu="subcontent3">
                            <div class="tooltip__content">
                                <ul>
                                    <li class="tooltip__item">
                                        <div class="tooltip__wrapper">
                                            <a href="#" class="tooltip__link">Help center </a>
                                        </div>
                                    </li>
                                    <li class="tooltip__item">
                                        <div class="tooltip__wrapper">
                                            <a href="#" class="tooltip__link">User's guide </a>
                                        </div>
                                    </li>
                                    <li class="tooltip__item">
                                        <div class="tooltip__wrapper">
                                            <a href="#" class="tooltip__link"> Community forum </a>
                                        </div>
                                    </li>
                                    <li class="tooltip__item">
                                        <div class="tooltip__wrapper">
                                            <a href="#" class="tooltip__link">
                                                .NET Property Reference
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                                <ul class="tooltip__submenu">
                                    <li class="tooltip__item">
                                        <a href="#" class="tooltip__link">Downloads</a>
                                    </li>
                                    <li class="tooltip__item">
                                        <a href="#" class="tooltip__link">Sources on GitHub</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="blog__link_mobile">
                        <a
                            id="head-menu-download"
                            href=""
                            class="hover-link"
                            title="Download Visual Query Builder"
                            >BLOG</a
                        >
                    </li>
                    <li class="blogs">
                        <div class="demo__link">
                            <a href="#" class="hover-link">Online Demo</a>
                        </div>
                    </li>
                </ul>
                <div class="nav__rightside">
                    <div class="nav__buttons nav__buttons__auth">
                        <div class="nav__buttons_block">
                            <a href="" class="nav__button_call nav__button_call_auth"
                                >Call Me Back</a
                            >
                            <a
                                href="https://www.activequerybuilder.com/member/index.php"
                                target="_blank"
                                class="nav__button_sign hidden__block"
                                rel="noopener"
                                >Sign in</a
                            >
                            <!--Добавляем класс hidden__block когда юзер авторизован-->
                        </div>
                        <div class="hover-link menu__show menu__show_hide auth__block">
                            <!--Добавляем класс hidden__block когда юзер НЕ авторизован-->
                            <div class="auth_bg"></div>
                            <div class="arrow__tooltip arrow__tooltip_auth"></div>
                        </div>
                        <div class="tooltip__menu tooltip__menu_auth">
                            <!--Добавляем класс hidden__block когда юзер НЕ авторизован-->
                            <div class="tooltip__content tooltip__content_auth">
                                <div class="auth__profile">
                                    <img
                                        src="../img/not-avatar-profile.png"
                                        alt=""
                                        class="auth__img_avatar"
                                    />
                                    <div class="auth__profile_item">
                                        <a href="#" class="tooltip__username">Alexander M.</a>
                                        <span class="tooltip__useremail">zav.chel@gmail.com</span>
                                    </div>
                                </div>
                                <ul>
                                    <li class="tooltip__item tooltip__item_auth">
                                        <div class="tooltip__wrapper">
                                            <a
                                                href="#"
                                                class="tooltip__link"
                                                data-menu="subcontent1"
                                                >Support tickets
                                            </a>
                                        </div>
                                    </li>
                                    <li class="tooltip__item tooltip__item_auth">
                                        <div class="tooltip__wrapper">
                                            <a
                                                href="#"
                                                class="tooltip__link"
                                                data-menu="subcontent2"
                                                >Licenses
                                            </a>
                                        </div>
                                    </li>
                                    <li class="tooltip__item tooltip__item_auth">
                                        <div class="tooltip__wrapper">
                                            <a
                                                href="#"
                                                class="tooltip__link"
                                                data-menu="subcontent3"
                                                >Account
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                                <ul class="tooltip__submenu">
                                    <li class="tooltip__item tooltip__item_auth">
                                        <a href="#" class="tooltip__link">Log out</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>
