<section class="make make__users">
    <div class="make__container container">
        <div class="make__users_info">
            <div class="make__users_descr">
                <span>Read a blogpost:</span>
                <a href="#">Creating a simple SQL query with Active Query Builder</a>
            </div>
            <h2>Can't make a decision on your own?</h2>
            <div class="make__users_descr">
                <span>Check and send a webpage to your developers:</span>
                <a href="#">AQB for Developers</a>
            </div>
            <div class="make__users_descr">
                <span>Check and send a webpage to your manager:</span>
                <a href="#">AQB for Executives</a>
            </div>
        </div>
    </div>
</section>
