<section class="support">
    <div class="support__area">
        <div class="support__area_tabs container">
            <div class="support__area_tab_wrapper">
                <div class="support__area_tab support__area_tab--active" data-suptab="1">
                    Guides and articles
                </div>
                <div class="support__area_tab" data-suptab="2">Community forum</div>
                <div class="support__area_tab" data-suptab="3">Support requests</div>
            </div>
        </div>
        <div class="support__tab_container">
            <div
                class="support__tab_content support__tab_content--active support__articles container"
                data-suptab="1"
            >
                <div class="support__tab_wrapper">
                    <div class="support__tab_item">
                        <img src="../img/quick-start-guides.png" alt="" />
                        <div class="support__tab_block">
                            <h2>Quick Start Guides</h2>
                            <div class="support__tab_links">
                                <a href="#" class="support__tab_link"
                                    >AQB for .NET WinForms and WPF</a
                                >
                                <a href="#" class="support__tab_link">AQB for .NET - ASP.NET</a>
                                <a href="#" class="support__tab_link"
                                    >AQB for Delphi, ActiveX and Java</a
                                >
                            </div>
                        </div>
                    </div>
                    <div class="support__tab_item">
                        <img src="../img/knowledge-base.png" alt="" />
                        <div class="support__tab_block">
                            <h2>Knowledge Base</h2>
                            <div class="support__tab_links">
                                <a href="#" class="support__tab_link">Tuning the graphical UI</a>
                                <a href="#" class="support__tab_link"
                                    >Extracting and tuning DB schema</a
                                >
                                <a href="#" class="support__tab_link"
                                    >SQL syntax parsing and generation</a
                                >
                                <a href="#" class="support__tab_link">ASP.NET API documentation</a>
                            </div>
                        </div>
                    </div>
                    <div class="support__tab_item">
                        <img src="../img/release-notes.png" alt="" />
                        <div class="support__tab_block">
                            <h2>Release notes</h2>
                            <div class="support__tab_links">
                                <a href="#" class="support__tab_link support__tab_lightlink"
                                    >Mirgating to desktop .NET 3.0</a
                                >
                                <a href="#" class="support__tab_link support__tab_lightlink"
                                    >Migrating to ASP.NET 3.0</a
                                >
                                <a href="#" class="support__tab_link support__tab_lightlink"
                                    >Version 3.6 release notes</a
                                >
                                <a href="#" class="support__tab_link support__tab_lightlink"
                                    >Version 3.5 release notes</a
                                >
                            </div>
                        </div>
                    </div>
                    <div class="support__tab_item">
                        <img src="../img/popular-articles.png" alt="" />
                        <div class="support__tab_block">
                            <h2>Popular articles</h2>
                            <div class="support__tab_links">
                                <a href="#" class="support__tab_link support__tab_lightlink"
                                    >What are the Syntax and Metadata providers for?</a
                                >
                                <a href="#" class="support__tab_link support__tab_lightlink"
                                    >How to create a simple query programmatically?</a
                                >
                                <a href="#" class="support__tab_link support__tab_lightlink"
                                    >How to change sorting, add filters, limits and aggregations to
                                    the query?</a
                                >
                                <a href="#" class="support__tab_link support__tab_lightlink"
                                    >How database schema information stored in the Metadata
                                    Containerp?</a
                                >
                                <a href="#" class="support__tab_all">See all 12 articles...</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="support__tab_content support__forum container" data-suptab="2">
                <div class="support__tab_wrapper">
                    <div class="support__tab_item">
                        <img src="../img/topics.png" alt="" />
                        <div class="support__tab_block">
                            <h2>Topics</h2>
                            <div class="support__tab_links">
                                <a href="#" class="support__tab_link support__tab_lightlink"
                                    >Visual query building UI</a
                                >
                                <a href="#" class="support__tab_link support__tab_lightlink"
                                    >Database connection and metadata</a
                                >
                                <a href="#" class="support__tab_link support__tab_lightlink"
                                    >SQL parsing and generation</a
                                >
                                <a href="#" class="support__tab_link support__tab_lightlink"
                                    >General & pre-sales questions</a
                                >
                                <a href="#" class="support__tab_link support__tab_lightlink"
                                    >Uncategorized</a
                                >
                                <a href="#" class="support__tab_link support__tab_lightlink"
                                    >Delphi and C++Builder setup questions</a
                                >
                                <a href="#" class="support__tab_all">See all 12 articles...</a>
                            </div>
                        </div>
                    </div>
                    <div class="support__tab_item">
                        <img src="../img/new-posts.png" alt="" />
                        <div class="support__tab_block">
                            <h2>New posts</h2>
                            <div class="support__tab_links">
                                <a href="#" class="support__tab_link support__tab_lightlink"
                                    >Issue with QueryTransformer and Distinct keyword</a
                                >
                                <a href="#" class="support__tab_link support__tab_lightlink"
                                    >Active Query Builder for Web: javascript version?</a
                                >
                                <a href="#" class="support__tab_link support__tab_lightlink"
                                    >Delphi 11 compatible version of Active Query Builder VCL</a
                                >
                                <a href="#" class="support__tab_link support__tab_lightlink"
                                    >Update for Delphi 11</a
                                >
                                <a href="#" class="support__tab_link support__tab_lightlink"
                                    >How to configure AQB.Web.virtual Directory in Angular
                                    project.</a
                                >
                                <a href="#" class="support__tab_link support__tab_lightlink"
                                    >Issue on Azure using app services</a
                                >
                                <a href="#" class="support__tab_all">See all 12 articles...</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="support__tab_content support__requests" data-suptab="3">
                <div class="support__tab_search">
                    <input
                        type="text"
                        class="support__tab_search_input"
                        placeholder="Search for anything"
                    />
                    <div class="support__tab_search_items">
                        <ul class="support__tab_search_ul">
                            <li class="support__tab_search_li">
                                <a href="#">Programmer's Guides</a>
                            </li>
                            <li class="support__tab_search_li"><a href="#">Feedback Forum</a></li>
                            <li class="support__tab_search_li search_li--active">
                                <a href="#">Submit a request</a>
                            </li>
                            <li class="support__tab_search_li"><a href="#">My activities</a></li>
                        </ul>
                    </div>
                </div>
                <div class="support__tab_wrapper support__requests_wrapper">
                    <h2>How can we help you?</h2>
                    <form action="" class="support__requests_form">
                        <label for="">Please choose your issue below</label>
                        <div class="dropdwn dropdwn__support input__error">
                            <div class="dropdwn__wrapper">
                                <span class="dropdwn__name_request"
                                    >Pre-sales, Licensing, Quotation, Payment questions</span
                                >
                            </div>
                            <div class="dropdwn__items"></div>
                        </div>
                        <label for="">Your email address *</label>
                        <!-- для ошибки добавляем класс dropdwn__input_error элементу input -->
                        <input
                            type="email"
                            class="dropdwn__input dropdwn__input_error"
                            name=""
                            id=""
                            placeholder=""
                        />
                        <!-- для ошибки добавляем класс dropdwn__span_error элементу span -->
                        <span class="dropdwn__span_error">Requester: Email: cannot be blank</span>
                        <label for="">Subject *</label>
                        <input type="text" class="dropdwn__input" name="" id="" placeholder="" />
                        <label for="">Description *</label>
                        <textarea
                            type="text"
                            class="support__request_textarea"
                            name=""
                            id=""
                            placeholder="Please enter the details of your request."
                        ></textarea>
                        <label for="">Attachments</label>
                        <div class="support__upload">
                            <div class="support__background">Add file or drop files here</div>
                            <input
                                type="file"
                                id="support__uploader"
                                accept=".jpg, .jpeg, .png, .bmp"
                                placeholder="Add file or drop files here"
                                multiple
                            />
                            <div class="support__wrapper">
                                <div class="support__feedback"></div>
                            </div>
                            <div class="support__checkbox">
                                <input
                                    type="checkbox"
                                    class="support__checkbox_input"
                                    id="label"
                                    name="label"
                                    value="yes"
                                />
                                <label for="label"
                                    >I agree to the processing of my personal data and the Privacy
                                    Policy.</label
                                >
                            </div>
                        </div>
                        <button class="support__button">Submit</button>
                    </form>
                </div>
                <div class="support__requests_tickets requests_tickets">
                    <div class="requests_tickets_container container">
                        <h2>My tickets</h2>
                        <div class="requests_tickets__items">
                            <span class="request__sloved">Sloved</span>
                            <p>Fwd: issue with collapsing</p>
                        </div>
                        <div class="requests_tickets__items">
                            <span class="request__on-hold">On-hold</span>
                            <p>test_subject</p>
                        </div>
                        <div class="requests_tickets__items">
                            <span class="request__open">Open</span>
                            <p>Errors with AQB</p>
                        </div>
                        <div class="requests_tickets__items">
                            <span class="request__new">New</span>
                            <p>
                                When i get the formatted SQL the Group By columns are always
                                arranged based on the order of the columns in the Select section
                            </p>
                        </div>
                        <div class="requests_tickets__items">
                            <span class="request__pending">Pending</span>
                            <p>Slow SQL Parsing with OracleSyntaxProvider</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
