<section class="tabs">
    <h3>Active Query Builder is great for…</h3>
    <div class="tabs__items container">
        <div class="tabs__title">
            <div class="tabs__title_item tabs__title_item--active" data-tabs="1">
                Ad-hoc reporting and data analysis
            </div>
            <div class="tabs__title_item" data-tabs="2">Data export</div>
            <div class="tabs__title_item" data-tabs="3">Data import</div>
            <div class="tabs__title_item" data-tabs="4">Convenient data browsing</div>
        </div>
        <div class="tabs__container">
            <div class="tabs__content tabs__content--active" data-tabs="1">
                <div class="tabs__image">
                    <img src="./img/tab-img1.png" alt="" />
                </div>
                <div class="tabs__list">
                    <div class="tabs__title_mobile">Ad-hoc reporting and data analysis</div>
                    <ul>
                        <li>Allow lay users to query an SQL database on their own.</li>
                        <li>
                            Arm business decision-makers with the information they need right now.
                        </li>
                        <li>
                            Make the visual query builder an integral part of your report system.
                        </li>
                    </ul>
                </div>
            </div>
            <div class="tabs__content" data-tabs="2">
                <div class="tabs__image">
                    <img src="./img/tab-img2.png" alt="" />
                </div>
                <div class="tabs__list">
                    <div class="tabs__title_mobile">Data export</div>
                    <ul>
                        <li>Let users choose the data they need to export.</li>
                        <li>Automate export tasks with bind variables.</li>
                        <li>Discreetly add extra conditions to SQL queries</li>
                        <li>Analyze user queries to prevent information leakage.</li>
                    </ul>
                </div>
            </div>
            <div class="tabs__content" data-tabs="3">
                <div class="tabs__image">
                    <img src="./img/tab-img3.png" alt="" />
                </div>
                <div class="tabs__list">
                    <div class="tabs__title_mobile">Data import</div>
                    <ul>
                        <li>Сonnect to external databases of various DB servers.</li>
                        <li>Collect data even from legacy IT systems.</li>
                        <li>Map query columns to fields of internal entities.</li>
                        <li>Automate data flow using bind variables.</li>
                    </ul>
                </div>
            </div>
            <div class="tabs__content" data-tabs="4">
                <div class="tabs__image">
                    <img src="./img/tab-img4.png" alt="" />
                </div>
                <div class="tabs__list">
                    <div class="tabs__title_mobile">Convenient data browsing</div>
                    <ul>
                        <li>Apply filters to query columns with friendly UI.</li>
                        <li>Sort and paginate data in the query result set.</li>
                        <li>Calculate totals for columns by means of SQL.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
