<section class="trial">
    <div class="trial__downloads container">
        <ul class="trial__breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#">Trial downloads</a></li>
        </ul>
        <div class="trial__tabs">
            <div class="trial__tabs_title">
                <h1>Trial downloads</h1>
                <div class="trial__tabs_subtitle">
                    <p>
                        The fully functional <b>evaluation versions</b> are available for download
                        below.
                    </p>
                    <p>
                        Customers can download <b>full versions</b> of the component in
                        <b class="trial__tabs_subtitle_line">the Customer's area</b>
                        after the registration.
                    </p>
                </div>
            </div>
            <div class="trial__tabs_content">
                <div class="tabs__title tabs__title_projects trial__tabs_wrapper">
                    <div
                        class="tabs__title_item tabs__title_item_projects trial__tabs_item tabs__title_item--active"
                        data-tabs="1"
                    >
                        WinForms
                    </div>
                    <div
                        class="tabs__title_item tabs__title_item_projects trial__tabs_item"
                        data-tabs="2"
                    >
                        WPF
                    </div>
                    <div
                        class="tabs__title_item tabs__title_item_projects trial__tabs_item"
                        data-tabs="3"
                    >
                        ASP.NET
                    </div>
                    <div
                        class="tabs__title_item tabs__title_item_projects trial__tabs_item"
                        data-tabs="4"
                    >
                        Delphi
                    </div>
                    <div
                        class="tabs__title_item tabs__title_item_projects trial__tabs_item"
                        data-tabs="5"
                    >
                        ActiveX
                    </div>
                    <div
                        class="tabs__title_item tabs__title_item_projects trial__tabs_item"
                        data-tabs="6"
                    >
                        Java
                    </div>
                </div>
                <div class="tabs__select_mobile trial__select_mobile">
                    <span class="tabs__select_title">Choose your environment</span>
                    <select name="" id="tabs__select" class="tabs__select_item trial__select_item">
                        <option value="1">WinForms</option>
                        <option value="2">WPF</option>
                        <option value="3">ASP.NET</option>
                        <option value="4">Delphi</option>
                        <option value="5">ActiveX</option>
                        <option value="6">Java</option>
                    </select>
                </div>
                <div class="tabs__container tabs__container_projects">
                    <div
                        class="tabs__content tabs__content_projects trial__tabs_block tabs__content--active"
                        data-tabs="1"
                    >
                        <div class="tabs__wrapper">
                            <div class="tabs__image_projects trial__tabs_img">
                                <img src="./img/tabs-download.png" alt="" />
                            </div>
                            <div class="tabs__list tabs__list_projects trial__tabs_list">
                                <div class="tabs__info tabs__info_projects">
                                    A set of visual components for WinForms to create a feature-rich
                                    facility to build SQL queries visually and extract data backed
                                    with an API to analyze and modify SQL queries.
                                </div>
                                <ul>
                                    <li>Visual SQL query builder and filter builder.</li>
                                    <li>
                                        SQL text editor with code completion and syntax
                                        highlighting.
                                    </li>
                                    <li>Powerful API to analyze and modify SQL queries.</li>
                                </ul>
                                <span
                                    >Compatible with .NET Framework 4.x, .NET Core up to 3.1, .NET 5
                                    & 6.</span
                                >
                                <div class="tabs__links_container">
                                    <a href="#" class="trial__link_download">Download</a>
                                    <a href="#" class="trial__link_nuget trial__link_source"
                                        >NuGet package</a
                                    >
                                    <a href="#" class="trial__link_github trial__link_source"
                                        >Demos on GitHub</a
                                    >
                                </div>
                                <div class="tabs__block_hidden">
                                    <div class="tabs__block_title">Release notes</div>
                                    <div class="tabs__block_content">
                                        <div class="tabs__block_content_title">
                                            <span>v.3.8.17.2219</span>
                                            <time>February 22, 2022</time>
                                        </div>
                                        <div class="tabs__block_content_wrapper">
                                            <p class="tabs__block_text">
                                                SQL Text Editor: Auto-completion is made smarter:
                                                The suggestion popup sticks to the beginning of the
                                                word, finding items by first CamelCase letters,
                                                different behavior on selecting an item with Tab,
                                                Enter, or Space. Several bug fixes are made.
                                            </p>
                                            <p class="tabs__block_text">
                                                MS SQL Server: The TIME built-in type parsing is
                                                fixed.
                                            </p>
                                            <p class="tabs__block_text">
                                                Pervasive DB: The ambiguity in the IF built-in
                                                function parsing is eliminated, so parsing is
                                                speeded up.
                                            </p>
                                            <a href="#" class="tabs__block_link">Version history</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tabs__additional">
                            <h2>Additional downloads</h2>
                            <div class="tabs__additional_wrapper">
                                <div class="tabs__additional_item">
                                    <div class="tabs__additional_header">
                                        <h3>AQB for WinForm - Demo Application</h3>
                                        <p class="tabs__additional_text tabs__additional_top">
                                            Demonstrates all the main features of Active Query
                                            Builder for .NET (WinForms Edition) Professional
                                            version, such as: - Visual Query Builder, SQL Text
                                            Editor, property editors and DB connection setup frames,
                                            Reusable Queries snippet, etc. Provide a sample of handy
                                            data browsing UI, exporting data to different formats,
                                            etc.
                                        </p>
                                        <p class="tabs__additional_text tabs__additional_bottom">
                                            <b>System requirements:</b> Windows 7 and higher, .NET
                                            Framework 4.6.1+
                                        </p>
                                    </div>
                                    <div class="tabs__additional_footer">
                                        <ul>
                                            <li>
                                                <a href="#">WinForm</a>
                                            </li>
                                            <li>
                                                <a href="#">WPF</a>
                                            </li>
                                            <li>
                                                <a href="#">.NET</a>
                                            </li>
                                        </ul>
                                        <a href="#" class="tabs__additional_download"></a>
                                    </div>
                                </div>
                                <div class="tabs__additional_item">
                                    <div class="tabs__additional_header">
                                        <h3>AQB Metadata Container Editor Tool 3.5</h3>
                                        <p class="tabs__additional_text tabs__additional_top">
                                            Windows desktop app to extract metadata from different
                                            databases, visually edit the content of Metadata
                                            Container, design the DB explorer tree structure, save
                                            them to and load from XML files. Designed for AQB for
                                            .NET v.2 and higher
                                        </p>
                                        <p class="tabs__additional_text tabs__additional_bottom">
                                            <b>System requirements:</b>.NET Framework 4.6
                                        </p>
                                    </div>
                                    <div class="tabs__additional_footer">
                                        <ul>
                                            <li>
                                                <a href="#">AQB .NET v.2</a>
                                            </li>
                                            <li>
                                                <a href="#">AQB .NET v.3</a>
                                            </li>
                                        </ul>
                                        <a href="#" class="tabs__additional_download"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div
                        class="tabs__content tabs__content_projects trial__tabs_block"
                        data-tabs="2"
                    >
                        <div class="tabs__wrapper">
                            <div class="tabs__image_projects trial__tabs_img">
                                <img src="./img/tabs-download.png" alt="" />
                            </div>
                            <div class="tabs__list tabs__list_projects trial__tabs_list">
                                <div class="tabs__info tabs__info_projects">
                                    A set of visual components for WPF to create a feature-rich
                                    facility to build SQL queries visually and extract data backed
                                    with an API to analyze and modify SQL queries.
                                </div>
                                <ul>
                                    <li>Visual SQL query builder and filter builder.</li>
                                    <li>
                                        SQL text editor with code completion and syntax
                                        highlighting.
                                    </li>
                                    <li>Powerful API to analyze and modify SQL queries.</li>
                                </ul>
                                <span
                                    >Compatible with .NET Framework 4.x, .NET Core up to 3.1, .NET 5
                                    & 6.</span
                                >
                                <div class="tabs__links_container">
                                    <a href="#" class="trial__link_download">Download</a>
                                    <a href="#" class="trial__link_nuget trial__link_source"
                                        >NuGet package</a
                                    >
                                    <a href="#" class="trial__link_github trial__link_source"
                                        >Demos on GitHub</a
                                    >
                                </div>
                                <div class="tabs__block_hidden">
                                    <div class="tabs__block_title">Release notes</div>
                                    <div class="tabs__block_content">
                                        <div class="tabs__block_content_title">
                                            <span>v.3.8.17.2219</span>
                                            <time>February 22, 2022</time>
                                        </div>
                                        <div class="tabs__block_content_wrapper">
                                            <p class="tabs__block_text">
                                                SQL Text Editor: Auto-completion is made smarter:
                                                The suggestion popup sticks to the beginning of the
                                                word, finding items by first CamelCase letters,
                                                different behavior on selecting an item with Tab,
                                                Enter, or Space. Several bug fixes are made.
                                            </p>
                                            <p class="tabs__block_text">
                                                MS SQL Server: The TIME built-in type parsing is
                                                fixed.
                                            </p>
                                            <p class="tabs__block_text">
                                                Pervasive DB: The ambiguity in the IF built-in
                                                function parsing is eliminated, so parsing is
                                                speeded up.
                                            </p>
                                            <a href="#" class="tabs__block_link">Version history</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tabs__additional">
                            <h2>Additional downloads</h2>
                            <div class="tabs__additional_wrapper">
                                <div class="tabs__additional_item">
                                    <div class="tabs__additional_header">
                                        <h3>AQB for WinForm - Demo Application</h3>
                                        <p class="tabs__additional_text tabs__additional_top">
                                            Demonstrates all the main features of Active Query
                                            Builder for .NET (WinForms Edition) Professional
                                            version, such as: - Visual Query Builder, SQL Text
                                            Editor, property editors and DB connection setup frames,
                                            Reusable Queries snippet, etc. Provide a sample of handy
                                            data browsing UI, exporting data to different formats,
                                            etc.
                                        </p>
                                        <p class="tabs__additional_text tabs__additional_bottom">
                                            <b>System requirements:</b> Windows 7 and higher, .NET
                                            Framework 4.6.1+
                                        </p>
                                    </div>
                                    <div class="tabs__additional_footer">
                                        <ul>
                                            <li>
                                                <a href="#">WinForm</a>
                                            </li>
                                            <li>
                                                <a href="#">WPF</a>
                                            </li>
                                            <li>
                                                <a href="#">.NET</a>
                                            </li>
                                        </ul>
                                        <a href="#" class="tabs__additional_download"></a>
                                    </div>
                                </div>
                                <div class="tabs__additional_item">
                                    <div class="tabs__additional_header">
                                        <h3>AQB Metadata Container Editor Tool 3.5</h3>
                                        <p class="tabs__additional_text tabs__additional_top">
                                            Windows desktop app to extract metadata from different
                                            databases, visually edit the content of Metadata
                                            Container, design the DB explorer tree structure, save
                                            them to and load from XML files. Designed for AQB for
                                            .NET v.2 and higher
                                        </p>
                                        <p class="tabs__additional_text tabs__additional_bottom">
                                            <b>System requirements:</b>.NET Framework 4.6
                                        </p>
                                    </div>
                                    <div class="tabs__additional_footer">
                                        <ul>
                                            <li>
                                                <a href="#">AQB .NET v.2</a>
                                            </li>
                                            <li>
                                                <a href="#">AQB .NET v.3</a>
                                            </li>
                                        </ul>
                                        <a href="#" class="tabs__additional_download"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div
                        class="tabs__content tabs__content_projects trial__tabs_block"
                        data-tabs="3"
                    >
                        <div class="tabs__wrapper">
                            <div class="tabs__image_projects trial__tabs_img">
                                <img src="./img/tabs-download.png" alt="" />
                            </div>
                            <div class="tabs__list tabs__list_projects trial__tabs_list">
                                <div class="tabs__info tabs__info_projects">
                                    A set of visual components for ASP.NET to create a feature-rich
                                    facility to build SQL queries visually and extract data backed
                                    with an API to analyze and modify SQL queries.
                                </div>
                                <ul>
                                    <li>Visual SQL query builder and filter builder.</li>
                                    <li>
                                        SQL text editor with code completion and syntax
                                        highlighting.
                                    </li>
                                    <li>Powerful API to analyze and modify SQL queries.</li>
                                </ul>
                                <span
                                    >Compatible with .NET Framework 4.x, .NET Core up to 3.1, .NET 5
                                    & 6.</span
                                >
                                <div class="tabs__links_container">
                                    <a href="#" class="trial__link_download">Download</a>
                                    <a href="#" class="trial__link_nuget trial__link_source"
                                        >NuGet package</a
                                    >
                                    <a href="#" class="trial__link_github trial__link_source"
                                        >Demos on GitHub</a
                                    >
                                </div>
                                <div class="tabs__block_hidden">
                                    <div class="tabs__block_title">Release notes</div>
                                    <div class="tabs__block_content">
                                        <div class="tabs__block_content_title">
                                            <span>v.3.8.17.2219</span>
                                            <time>February 22, 2022</time>
                                        </div>
                                        <div class="tabs__block_content_wrapper">
                                            <p class="tabs__block_text">
                                                SQL Text Editor: Auto-completion is made smarter:
                                                The suggestion popup sticks to the beginning of the
                                                word, finding items by first CamelCase letters,
                                                different behavior on selecting an item with Tab,
                                                Enter, or Space. Several bug fixes are made.
                                            </p>
                                            <p class="tabs__block_text">
                                                MS SQL Server: The TIME built-in type parsing is
                                                fixed.
                                            </p>
                                            <p class="tabs__block_text">
                                                Pervasive DB: The ambiguity in the IF built-in
                                                function parsing is eliminated, so parsing is
                                                speeded up.
                                            </p>
                                            <a href="#" class="tabs__block_link">Version history</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tabs__additional">
                            <h2>Additional downloads</h2>
                            <div class="tabs__additional_wrapper">
                                <div class="tabs__additional_item">
                                    <div class="tabs__additional_header">
                                        <h3>AQB for WinForm - Demo Application</h3>
                                        <p class="tabs__additional_text tabs__additional_top">
                                            Demonstrates all the main features of Active Query
                                            Builder for .NET (WinForms Edition) Professional
                                            version, such as: - Visual Query Builder, SQL Text
                                            Editor, property editors and DB connection setup frames,
                                            Reusable Queries snippet, etc. Provide a sample of handy
                                            data browsing UI, exporting data to different formats,
                                            etc.
                                        </p>
                                        <p class="tabs__additional_text tabs__additional_bottom">
                                            <b>System requirements:</b> Windows 7 and higher, .NET
                                            Framework 4.6.1+
                                        </p>
                                    </div>
                                    <div class="tabs__additional_footer">
                                        <ul>
                                            <li>
                                                <a href="#">WinForm</a>
                                            </li>
                                            <li>
                                                <a href="#">WPF</a>
                                            </li>
                                            <li>
                                                <a href="#">.NET</a>
                                            </li>
                                        </ul>
                                        <a href="#" class="tabs__additional_download"></a>
                                    </div>
                                </div>
                                <div class="tabs__additional_item">
                                    <div class="tabs__additional_header">
                                        <h3>AQB Metadata Container Editor Tool 3.5</h3>
                                        <p class="tabs__additional_text tabs__additional_top">
                                            Windows desktop app to extract metadata from different
                                            databases, visually edit the content of Metadata
                                            Container, design the DB explorer tree structure, save
                                            them to and load from XML files. Designed for AQB for
                                            .NET v.2 and higher
                                        </p>
                                        <p class="tabs__additional_text tabs__additional_bottom">
                                            <b>System requirements:</b>.NET Framework 4.6
                                        </p>
                                    </div>
                                    <div class="tabs__additional_footer">
                                        <ul>
                                            <li>
                                                <a href="#">AQB .NET v.2</a>
                                            </li>
                                            <li>
                                                <a href="#">AQB .NET v.3</a>
                                            </li>
                                        </ul>
                                        <a href="#" class="tabs__additional_download"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div
                        class="tabs__content tabs__content_projects trial__tabs_block"
                        data-tabs="4"
                    >
                        <div class="tabs__wrapper">
                            <div class="tabs__image_projects trial__tabs_img">
                                <img src="./img/tabs-download.png" alt="" />
                            </div>
                            <div class="tabs__list tabs__list_projects trial__tabs_list">
                                <div class="tabs__info tabs__info_projects">
                                    A set of visual components for Delphi to create a feature-rich
                                    facility to build SQL queries visually and extract data backed
                                    with an API to analyze and modify SQL queries.
                                </div>
                                <ul>
                                    <li>Visual SQL query builder and filter builder.</li>
                                    <li>
                                        SQL text editor with code completion and syntax
                                        highlighting.
                                    </li>
                                    <li>Powerful API to analyze and modify SQL queries.</li>
                                </ul>
                                <span
                                    >Compatible with .NET Framework 4.x, .NET Core up to 3.1, .NET 5
                                    & 6.</span
                                >
                                <div class="tabs__links_container">
                                    <a href="#" class="trial__link_download">Download</a>
                                    <a href="#" class="trial__link_nuget trial__link_source"
                                        >NuGet package</a
                                    >
                                    <a href="#" class="trial__link_github trial__link_source"
                                        >Demos on GitHub</a
                                    >
                                </div>
                                <div class="tabs__block_hidden">
                                    <div class="tabs__block_title">Release notes</div>
                                    <div class="tabs__block_content">
                                        <div class="tabs__block_content_title">
                                            <span>v.3.8.17.2219</span>
                                            <time>February 22, 2022</time>
                                        </div>
                                        <div class="tabs__block_content_wrapper">
                                            <p class="tabs__block_text">
                                                SQL Text Editor: Auto-completion is made smarter:
                                                The suggestion popup sticks to the beginning of the
                                                word, finding items by first CamelCase letters,
                                                different behavior on selecting an item with Tab,
                                                Enter, or Space. Several bug fixes are made.
                                            </p>
                                            <p class="tabs__block_text">
                                                MS SQL Server: The TIME built-in type parsing is
                                                fixed.
                                            </p>
                                            <p class="tabs__block_text">
                                                Pervasive DB: The ambiguity in the IF built-in
                                                function parsing is eliminated, so parsing is
                                                speeded up.
                                            </p>
                                            <a href="#" class="tabs__block_link">Version history</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tabs__additional">
                            <h2>Additional downloads</h2>
                            <div class="tabs__additional_wrapper">
                                <div class="tabs__additional_item">
                                    <div class="tabs__additional_header">
                                        <h3>AQB for WinForm - Demo Application</h3>
                                        <p class="tabs__additional_text tabs__additional_top">
                                            Demonstrates all the main features of Active Query
                                            Builder for .NET (WinForms Edition) Professional
                                            version, such as: - Visual Query Builder, SQL Text
                                            Editor, property editors and DB connection setup frames,
                                            Reusable Queries snippet, etc. Provide a sample of handy
                                            data browsing UI, exporting data to different formats,
                                            etc.
                                        </p>
                                        <p class="tabs__additional_text tabs__additional_bottom">
                                            <b>System requirements:</b> Windows 7 and higher, .NET
                                            Framework 4.6.1+
                                        </p>
                                    </div>
                                    <div class="tabs__additional_footer">
                                        <ul>
                                            <li>
                                                <a href="#">WinForm</a>
                                            </li>
                                            <li>
                                                <a href="#">WPF</a>
                                            </li>
                                            <li>
                                                <a href="#">.NET</a>
                                            </li>
                                        </ul>
                                        <a href="#" class="tabs__additional_download"></a>
                                    </div>
                                </div>
                                <div class="tabs__additional_item">
                                    <div class="tabs__additional_header">
                                        <h3>AQB Metadata Container Editor Tool 3.5</h3>
                                        <p class="tabs__additional_text tabs__additional_top">
                                            Windows desktop app to extract metadata from different
                                            databases, visually edit the content of Metadata
                                            Container, design the DB explorer tree structure, save
                                            them to and load from XML files. Designed for AQB for
                                            .NET v.2 and higher
                                        </p>
                                        <p class="tabs__additional_text tabs__additional_bottom">
                                            <b>System requirements:</b>.NET Framework 4.6
                                        </p>
                                    </div>
                                    <div class="tabs__additional_footer">
                                        <ul>
                                            <li>
                                                <a href="#">AQB .NET v.2</a>
                                            </li>
                                            <li>
                                                <a href="#">AQB .NET v.3</a>
                                            </li>
                                        </ul>
                                        <a href="#" class="tabs__additional_download"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div
                        class="tabs__content tabs__content_projects trial__tabs_block"
                        data-tabs="5"
                    >
                        <div class="tabs__wrapper">
                            <div class="tabs__image_projects trial__tabs_img">
                                <img src="./img/tabs-download.png" alt="" />
                            </div>
                            <div class="tabs__list tabs__list_projects trial__tabs_list">
                                <div class="tabs__info tabs__info_projects">
                                    A set of visual components for ActiveX to create a feature-rich
                                    facility to build SQL queries visually and extract data backed
                                    with an API to analyze and modify SQL queries.
                                </div>
                                <ul>
                                    <li>Visual SQL query builder and filter builder.</li>
                                    <li>
                                        SQL text editor with code completion and syntax
                                        highlighting.
                                    </li>
                                    <li>Powerful API to analyze and modify SQL queries.</li>
                                </ul>
                                <span
                                    >Compatible with .NET Framework 4.x, .NET Core up to 3.1, .NET 5
                                    & 6.</span
                                >
                                <div class="tabs__links_container">
                                    <a href="#" class="trial__link_download">Download</a>
                                    <a href="#" class="trial__link_nuget trial__link_source"
                                        >NuGet package</a
                                    >
                                    <a href="#" class="trial__link_github trial__link_source"
                                        >Demos on GitHub</a
                                    >
                                </div>
                                <div class="tabs__block_hidden">
                                    <div class="tabs__block_title">Release notes</div>
                                    <div class="tabs__block_content">
                                        <div class="tabs__block_content_title">
                                            <span>v.3.8.17.2219</span>
                                            <time>February 22, 2022</time>
                                        </div>
                                        <div class="tabs__block_content_wrapper">
                                            <p class="tabs__block_text">
                                                SQL Text Editor: Auto-completion is made smarter:
                                                The suggestion popup sticks to the beginning of the
                                                word, finding items by first CamelCase letters,
                                                different behavior on selecting an item with Tab,
                                                Enter, or Space. Several bug fixes are made.
                                            </p>
                                            <p class="tabs__block_text">
                                                MS SQL Server: The TIME built-in type parsing is
                                                fixed.
                                            </p>
                                            <p class="tabs__block_text">
                                                Pervasive DB: The ambiguity in the IF built-in
                                                function parsing is eliminated, so parsing is
                                                speeded up.
                                            </p>
                                            <a href="#" class="tabs__block_link">Version history</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tabs__additional">
                            <h2>Additional downloads</h2>
                            <div class="tabs__additional_wrapper">
                                <div class="tabs__additional_item">
                                    <div class="tabs__additional_header">
                                        <h3>AQB for WinForm - Demo Application</h3>
                                        <p class="tabs__additional_text tabs__additional_top">
                                            Demonstrates all the main features of Active Query
                                            Builder for .NET (WinForms Edition) Professional
                                            version, such as: - Visual Query Builder, SQL Text
                                            Editor, property editors and DB connection setup frames,
                                            Reusable Queries snippet, etc. Provide a sample of handy
                                            data browsing UI, exporting data to different formats,
                                            etc.
                                        </p>
                                        <p class="tabs__additional_text tabs__additional_bottom">
                                            <b>System requirements:</b> Windows 7 and higher, .NET
                                            Framework 4.6.1+
                                        </p>
                                    </div>
                                    <div class="tabs__additional_footer">
                                        <ul>
                                            <li>
                                                <a href="#">WinForm</a>
                                            </li>
                                            <li>
                                                <a href="#">WPF</a>
                                            </li>
                                            <li>
                                                <a href="#">.NET</a>
                                            </li>
                                        </ul>
                                        <a href="#" class="tabs__additional_download"></a>
                                    </div>
                                </div>
                                <div class="tabs__additional_item">
                                    <div class="tabs__additional_header">
                                        <h3>AQB Metadata Container Editor Tool 3.5</h3>
                                        <p class="tabs__additional_text tabs__additional_top">
                                            Windows desktop app to extract metadata from different
                                            databases, visually edit the content of Metadata
                                            Container, design the DB explorer tree structure, save
                                            them to and load from XML files. Designed for AQB for
                                            .NET v.2 and higher
                                        </p>
                                        <p class="tabs__additional_text tabs__additional_bottom">
                                            <b>System requirements:</b>.NET Framework 4.6
                                        </p>
                                    </div>
                                    <div class="tabs__additional_footer">
                                        <ul>
                                            <li>
                                                <a href="#">AQB .NET v.2</a>
                                            </li>
                                            <li>
                                                <a href="#">AQB .NET v.3</a>
                                            </li>
                                        </ul>
                                        <a href="#" class="tabs__additional_download"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div
                        class="tabs__content tabs__content_projects trial__tabs_block"
                        data-tabs="6"
                    >
                        <div class="tabs__wrapper">
                            <div class="tabs__image_projects trial__tabs_img">
                                <img src="./img/tabs-download.png" alt="" />
                            </div>
                            <div class="tabs__list tabs__list_projects trial__tabs_list">
                                <div class="tabs__info tabs__info_projects">
                                    A set of visual components for Java to create a feature-rich
                                    facility to build SQL queries visually and extract data backed
                                    with an API to analyze and modify SQL queries.
                                </div>
                                <ul>
                                    <li>Visual SQL query builder and filter builder.</li>
                                    <li>
                                        SQL text editor with code completion and syntax
                                        highlighting.
                                    </li>
                                    <li>Powerful API to analyze and modify SQL queries.</li>
                                </ul>
                                <span
                                    >Compatible with .NET Framework 4.x, .NET Core up to 3.1, .NET 5
                                    & 6.</span
                                >
                                <div class="tabs__links_container">
                                    <a href="#" class="trial__link_download">Download</a>
                                    <a href="#" class="trial__link_nuget trial__link_source"
                                        >NuGet package</a
                                    >
                                    <a href="#" class="trial__link_github trial__link_source"
                                        >Demos on GitHub</a
                                    >
                                </div>
                                <div class="tabs__block_hidden">
                                    <div class="tabs__block_title">Release notes</div>
                                    <div class="tabs__block_content">
                                        <div class="tabs__block_content_title">
                                            <span>v.3.8.17.2219</span>
                                            <time>February 22, 2022</time>
                                        </div>
                                        <div class="tabs__block_content_wrapper">
                                            <p class="tabs__block_text">
                                                SQL Text Editor: Auto-completion is made smarter:
                                                The suggestion popup sticks to the beginning of the
                                                word, finding items by first CamelCase letters,
                                                different behavior on selecting an item with Tab,
                                                Enter, or Space. Several bug fixes are made.
                                            </p>
                                            <p class="tabs__block_text">
                                                MS SQL Server: The TIME built-in type parsing is
                                                fixed.
                                            </p>
                                            <p class="tabs__block_text">
                                                Pervasive DB: The ambiguity in the IF built-in
                                                function parsing is eliminated, so parsing is
                                                speeded up.
                                            </p>
                                            <a href="#" class="tabs__block_link">Version history</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tabs__additional">
                            <h2>Additional downloads</h2>
                            <div class="tabs__additional_wrapper">
                                <div class="tabs__additional_item">
                                    <div class="tabs__additional_header">
                                        <h3>AQB for WinForm - Demo Application</h3>
                                        <p class="tabs__additional_text tabs__additional_top">
                                            Demonstrates all the main features of Active Query
                                            Builder for .NET (WinForms Edition) Professional
                                            version, such as: - Visual Query Builder, SQL Text
                                            Editor, property editors and DB connection setup frames,
                                            Reusable Queries snippet, etc. Provide a sample of handy
                                            data browsing UI, exporting data to different formats,
                                            etc.
                                        </p>
                                        <p class="tabs__additional_text tabs__additional_bottom">
                                            <b>System requirements:</b> Windows 7 and higher, .NET
                                            Framework 4.6.1+
                                        </p>
                                    </div>
                                    <div class="tabs__additional_footer">
                                        <ul>
                                            <li>
                                                <a href="#">WinForm</a>
                                            </li>
                                            <li>
                                                <a href="#">WPF</a>
                                            </li>
                                            <li>
                                                <a href="#">.NET</a>
                                            </li>
                                        </ul>
                                        <a href="#" class="tabs__additional_download"></a>
                                    </div>
                                </div>
                                <div class="tabs__additional_item">
                                    <div class="tabs__additional_header">
                                        <h3>AQB Metadata Container Editor Tool 3.5</h3>
                                        <p class="tabs__additional_text tabs__additional_top">
                                            Windows desktop app to extract metadata from different
                                            databases, visually edit the content of Metadata
                                            Container, design the DB explorer tree structure, save
                                            them to and load from XML files. Designed for AQB for
                                            .NET v.2 and higher
                                        </p>
                                        <p class="tabs__additional_text tabs__additional_bottom">
                                            <b>System requirements:</b>.NET Framework 4.6
                                        </p>
                                    </div>
                                    <div class="tabs__additional_footer">
                                        <ul>
                                            <li>
                                                <a href="#">AQB .NET v.2</a>
                                            </li>
                                            <li>
                                                <a href="#">AQB .NET v.3</a>
                                            </li>
                                        </ul>
                                        <a href="#" class="tabs__additional_download"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
