.business{

    &__container{
        display: flex;
        flex-direction: column;
        padding: 120px 20px;

        & > h3{
            font-family: 'Roboto-Bold',sans-serif;
            font-size: 30px;
            line-height: 42px;
            font-weight: 600;
            color: $black;
            text-align: center;
        }
    }

    &__wrapper{
        margin-top: 30px;
        margin-left: 35px;
        position: relative;
    }

    &__items{
        display: flex;
        flex-direction: column;
        position: relative;

        & > span{
            max-width: 600px;
            font-family: 'Roboto-Light',sans-serif;
            font-size: 18px;
            line-height: 27px;
            font-weight: 300;
            color: $black;

            & > b {
                display: block;
                margin-top: 10px;
                font-family: 'Roboto-Medium',sans-serif;
                font-weight: 500;
            }
        }
    }

    &__violet{
        padding: 37px 61px;
        height: 226px;
        background-image: url('../img/business-violet.png');
        background-repeat: no-repeat;
        background-size: inherit;
    }

    &__blue{
        padding: 37px 61px;
        height: 184px;
        margin-top: -41px;
        background-image: url('../img/business-blue.png');
        background-repeat: no-repeat;
        background-size: inherit;
    }

    &__aqua{
        padding: 37px 61px;
        height: 226px;
        margin-top: -43px;
        background-image: url('../img/business-aqua.png');
        background-repeat: no-repeat;
        background-size: inherit;

        & > span{
            margin-top: 50px;
        }
    }

    &__circle{
        width: 450px;
        height: 450px;
        position: absolute;
        right: 0;
        top: 50%;
        background-image: url('../img/circle.png');
        background-repeat: no-repeat;
        background-size: cover;
        transform: translate(0, -50%);

        &_title{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            text-align: center;

            &_text{
                display: block;
                margin-top: 10px;
                font-family: 'Roboto-Bold',sans-serif;
                font-size: 22px;
                line-height: 28px;
                font-weight: 600;
                color: $black;
            }

            &_yes{
                display: block;
                margin-top: 20px;
                font-family: 'Roboto-Bold',sans-serif;
                font-size: 68px;
                line-height: 80px;
                font-weight: 700;
                color: $black;
            }
        }
    }
}