.header{

    &__artboard{
        height: 476px;
        display: flex;
        align-items: center;
        position: relative;
        background-position: center center;
        background-attachment: scroll;
        background-image: url('../img/header-art.png');
        background-size: cover;
        background-repeat: no-repeat;

        &::before{
          content: '';
          position: absolute;
          width: 100%;
          height: 185px;
          background-image: url('../img/art-bottom-bg.jpg');
          background-repeat: no-repeat;
          background-size: cover;
          bottom: -185px;
        }
    }

    &__artboard__container{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        margin-top: -80px;
    }

    &__board_items{
        max-width: 456px;
        display: flex;
        flex-direction: column;
        position: relative;
        top: 110px;

        & > h1{
            color: $white;
            font-size: 42px;
            line-height: 1.2;
            font-family: 'Roboto-Bold',sans-serif;
            font-weight: 700;
        }


        & > a{
            max-width: 260px;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            top: 70px;
            color: $white;
            font-size: 16px;
            font-family: 'Roboto-Bold',sans-serif;
            line-height: 1.55;
            font-weight: 600;
            text-transform: uppercase;
            border-width: 1px;
            border-radius: 5px;
            background-color: $mantis;
            border-color: transparent;
            border-style: solid;
            transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
        }
    }

    &__board_subtitle{
        color: $white;
        font-size: 23px;
        font-family: 'Roboto-Light',sans-serif;
        font-weight: 300;
        line-height: 1.55;
    }

    &__board_descr{
        margin-top: 35px;
        color: $white;
        font-size: 19px;
        font-family: 'Roboto-Medium',sans-serif;
        line-height: 1.6;
        font-weight: 500;
    }

    &__board_video{
      width: 655px;
      height: 483px;
      position: relative;
      top: 183px;
      cursor: pointer;
    }

    &__iframe{
      width: 487px;
      height: 300px;
      position: absolute;
      top: 22px;
      left: 50%;
      transform: translate(-50%, 0);
    }

    &__frame--active{
      width: 100%;
      max-width: 960px;
      height: 500px;
      position: fixed;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) scale(.9);
      transition: transform .2s ease-in-out;
      z-index: 20;
    }

    &__pointer{
      position: absolute;
      top: 150px;
    }

    &__get{
      height: 550px;
      background-image: url('../img/bg-get-started.jpg');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      position: relative;

      &::before{
        display: block;
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-image: linear-gradient(to top, rgba(9,17,130,0.30), rgba(9,17,130,0.40));
        background-image: -moz-linear-gradient(to top, rgba(9,17,130,0.30), rgba(9,17,130,0.40));
        background-image: -webkit-linear-gradient(to top, rgba(9,17,130,0.30), rgba(9,17,130,0.40));
        background-image: -o-linear-gradient(to top, rgba(9,17,130,0.30), rgba(9,17,130,0.40));
        background-image: -ms-linear-gradient(to top, rgba(9,17,130,0.30), rgba(9,17,130,0.40));
      }

      & > h1{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 24px 0 38px 0;
        font-family: 'Roboto-Bold',sans-serif;
        font-weight: 600;
        font-size: 52px;
        color: $white;
        letter-spacing: .5px;
        line-height: 1.17;
        position: relative;
        z-index: 1;
      }
    }

    &__online_demo{
      display: flex;
      flex-direction: column;
      align-items: center;
      background-image: linear-gradient(to bottom, rgba(15,4,71,1), rgba(4,28,185,1));
      overflow: hidden;

      & > h1{
        display: block;
        margin-top: 140px;
        font-family: 'Roboto-Bold',sans-serif;
        font-size: 52px;
        font-weight: 600;
        line-height: 1.23;
        color: $white;
      }

      & > a{
        display: block;
        margin-top: 30px;
        padding: 17px 32px 17px;
        border-radius: 5px;
        background-color: $mantis;
        font-family: 'Roboto-Bold',sans-serif;
        font-size: 16px;
        font-weight: 700;
        color: $white;
      }

      & > img{
        width: 100%;
        max-width: 960px;
        margin-top: 80px;
        display: block;
      }
    }

    &__online_subtitle{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 25px;
      font-size: 22px;
      font-family: 'Roboto-Light',sans-serif;
      font-weight: 300;
      line-height: 1.55;
      color: $white;

      & > span{
        font-size: 23px;
        font-family: 'Roboto-Medium',sans-serif;
        font-weight: 500;
        }
    }

    &__analyzer{
      height: 860px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      background-image: linear-gradient(to bottom, rgba(211,213,255,1), rgba(236,247,255,1));
      position: relative;
      overflow: hidden;

      &_based{
        max-width: 500px;
        height: max-content;
        border-width: 30px;
        border-radius: 30px;
        background-color: $onahau;
        background-position: center center;
        border-color: $onahau;
        border-style: solid;
        box-shadow: 0px 5px 15px 0px rgba(35,98,245,0.1);
        font-family: 'Roboto-Medium',sans-serif;
        font-size: 18px;
        line-height: 1.6;
        font-weight: 400;
        text-align: left;
        color: $tolopea;
      }

      &::before{
        content: '';
        max-width: 692px;
        height: 100%;
        position: absolute;
        left: -17px;
        top: 0;
        right: 0;
        bottom: 0;
        background-image: url('../img/header-analyzer1.png');
        background-repeat: no-repeat;
        background-size: contain;
      }

      &::after{
        content: '';
        width: 690px;
        height: 100%;
        position: absolute;
        right: -15px;
        background-image: url('../img/header-analyzer2.png');
        background-repeat: no-repeat;
        background-size: contain;
      }

      &_title{
        margin-top: 30px;

        & > h1{
          font-family: 'Roboto-Bold',sans-serif;
          font-size: 52px;
          line-height: 1.25;
          font-weight: 700;
          color: $tolopea;
        }

        & > span{
          display: block;
          margin-top: 30px;
          font-family: 'Roboto-Bold',sans-serif;
          font-size: 20px;
          line-height: 1.55;
          font-weight: 600;
          color: $tolopea;
        }
      }

      &_subtitle{
        margin-top: 15px;
        font-family: 'Roboto-Regular',sans-serif;
        font-size: 23px;
        line-height: 1.6;
        font-weight: 400;
      }

      &_wrapper{
        display: flex;
        margin-top: 50px;
      }

      &_content{
        max-width: 420px;
        text-align: left;

        &:not(:last-child){
          margin-right: 60px;
        }

          &_title{
            font-family: 'Roboto-Regular',sans-serif;
            font-size: 18px;
            line-height: 1.6;
            font-weight: 400;
            color: $tolopea;
          }

          &_items{

            & > ul > li{
              margin-top: 15px;
              padding-left: 30px;
              background-image: url('../img/offer-check.png');
              background-repeat: no-repeat;
              background-position: 0 4px;
              background-size: 20px;
              font-family: 'Roboto-Regular',sans-serif;
              font-size: 18px;
              line-height: 1.55;
              font-weight: 400;
              color: $tolopea;
            }
          }

          &_based{

            & > h3{
              display: block;
              margin-bottom: 15px;
              font-family: 'Roboto-Bold',sans-serif;
              font-size: 22px;
              line-height: 1.6;
              font-weight: 700;
              color: $tolopea;
            }

            & > span{
              font-family: 'Roboto-Bold',sans-serif;
              font-size: 18px;
              line-height: 1.6;
              font-weight: 700;
              color: $tolopea;
            }
          }
        }
      }

    &__developers{
      height: 659px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      background-image: linear-gradient(to bottom, rgba(211,213,255,1), rgba(236,247,255,1));
      position: relative;
      overflow: hidden;

      &::before{
        content: '';
        max-width: 692px;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-image: url('../img/header-analyzer1.png');
        background-repeat: no-repeat;
        background-size: cover;
      }

      &::after{
        content: '';
        width: 690px;
        height: 100%;
        position: absolute;
        right: 0;
        background-image: url('../img/header-analyzer2.png');
        background-repeat: no-repeat;
        background-size: cover;
      }

      &_wrapper{
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
        position: relative;
        z-index: 1;
      }

      &_title{
        max-width: 505px;
        margin-top: -60px;

        & > h1{
          display: block;
          font-family: 'Roboto-Bold',sans-serif;
          font-size: 52px;
          line-height: 62px;
          font-weight: 700;
          color: $tolopea;
          text-align: left;
        }

        & > a{
          max-width: 180px;
          display: block;
          margin-top: 50px;
          padding: 17px 0;
          border-radius: 5px;
          background-color: $mantis;
          font-family: 'Roboto-Bold',sans-serif;
          font-size: 16px;
          line-height: 19px;
          font-weight: 700;
          color: $white;
        }
      }

      &_bg{
        position: absolute;
        right: -50px;
        top: 50%;
        transform: translate(-0%, -45%);
      }
    }

    &__users{
      height: 651px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      background: linear-gradient(180deg, #8CC4FF 0%, #EEFBFF 100%);
      position: relative;
      overflow: hidden;

      &::before{
        content: '';
        max-width: 692px;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-image: url('../img/header-analyzer1.png');
        background-repeat: no-repeat;
        background-size: cover;
      }

      &::after{
        content: '';
        width: 690px;
        height: 100%;
        position: absolute;
        right: 0;
        background-image: url('../img/header-analyzer2.png');
        background-repeat: no-repeat;
        background-size: cover;
      }

      &_wrapper{
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
        position: relative;
        z-index: 1;
      }

      &_title{
        max-width: 505px;
        margin-top: -60px;

        & > h1{
          display: block;
          font-family: 'Roboto-Bold',sans-serif;
          font-size: 52px;
          line-height: 62px;
          font-weight: 700;
          color: $tolopea;
          text-align: left;
        }

        & > a{
          max-width: 180px;
          display: block;
          margin-top: 50px;
          padding: 17px 0;
          border-radius: 5px;
          background-color: $mantis;
          font-family: 'Roboto-Bold',sans-serif;
          font-size: 16px;
          line-height: 19px;
          font-weight: 700;
          color: $white;
        }
      }

      &_bg{
        position: absolute;
        right: -50px;
        top: 50%;
        transform: translate(-0%, -45%);
      }
    }

    &__owners{
      height: 659px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      background: linear-gradient(180deg, #8CC4FF 0%, #EEFBFF 100%);
      position: relative;
      overflow: hidden;

      &::before{
        content: '';
        max-width: 692px;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-image: url('../img/header-analyzer1.png');
        background-repeat: no-repeat;
        background-size: cover;
      }

      &::after{
        content: '';
        width: 690px;
        height: 100%;
        position: absolute;
        right: 0;
        background-image: url('../img/header-analyzer2.png');
        background-repeat: no-repeat;
        background-size: cover;
      }

      &_wrapper{
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
        position: relative;
        z-index: 1;
      }

      &_title{
        max-width: 505px;
        margin-top: -60px;

        & > h1{
          display: block;
          font-family: 'Roboto-Bold',sans-serif;
          font-size: 52px;
          line-height: 62px;
          font-weight: 700;
          color: $tolopea;
          text-align: left;
        }

        & > a{
          max-width: 180px;
          display: block;
          margin-top: 79px;
          padding: 17px 0;
          border-radius: 5px;
          background-color: $mantis;
          font-family: 'Roboto-Bold',sans-serif;
          font-size: 16px;
          line-height: 19px;
          font-weight: 700;
          color: $white;
        }
      }

      &_bg{
        position: absolute;
        right: 19px;
        top: 50%;
        transform: translate(-0%, -44%);
      }
    }

    &__support{
      height: 505px;
      background: linear-gradient(180deg, #0F0447 0%, #041CB9 100%);
      padding: 0 20px;

      &_wrapper{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &_block{
        width: 100%;
        margin-bottom: 50px;

        h1{
          display: block;
          margin-bottom: 47px;
          font-size: 50px;
          line-height: 62px;
          font-weight: 700;
          color: $white;
          text-align: center;
        }
      }

      &_search{
        display: flex;
        justify-content: center;
      }

      &_input{
        width: 100%;
        max-width: 895px;
        height: 64px;
        margin-right: 20px;
        padding: 0 55px;
        background: $white;
        background-image: url('../img/search-support.png');
        background-repeat: no-repeat;
        background-position: 20px center;
        border: 1px solid $silver;
        border-radius: 5px;
        font-size: 20px;

        &::placeholder{
          color: rgba(0, 0, 0, 0.5);
          font-size: 16px;
          font-weight: 300;
          line-height: 17px;
        }
      }

      &_button{
        width: 125px;
        height: 62px;
        flex-shrink: 0;
        background: $mantis;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        line-height: 16px;
        font-weight: 700;
        color: $white;
        cursor: pointer;
      }
    }
}

.video__bg{
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .6);
  opacity: 1;
  z-index: 19;
  transition: opacity ease-in-out .3s;
}