.level{

    &__container{
        padding: 118px 20px 124px;

        & > h2{
            font-family: 'Roboto-bold', sans-serif;
            font-size: 42px;
            line-height: 50px;
            font-weight: 600;
            text-align: center;
        }

        & > span{
            display: block;
            margin-top: 13px;
            font-family: 'Roboto-Light', sans-serif;
            font-size: 20px;
            line-height: 27px;
            font-weight: 300;
            text-align: center;
        }
    }

    &__making{
        max-width: 1000px;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        margin-top: 53px;

        & > h3{
            display: block;
            max-width: 205px;
            font-family: 'Roboto-Bold', sans-serif;
            font-size: 30px;
            line-height: 42px;
            font-weight: 600;
        }

        &_descr{
            max-width: 700px;

            & > p{
                font-family: 'Roboto-Light', sans-serif;
                font-size: 18px;
                line-height: 27px;
                font-weight: 300;

                &:not(:last-child){
                    margin-bottom: 30px;
                }
            }
        }
    }

    &__tabs{
        max-width: 1000px;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        margin-top: 50px;

        & > h3{
            display: block;
            max-width: 205px;
            font-family: 'Roboto-Bold', sans-serif;
            font-size: 30px;
            line-height: 42px;
            font-weight: 600;
        }

        &_wrapper{
            display: flex;
            flex-direction: column;
        }

        &_descr{
            max-width: 700px;
            padding-top: 20px;
            border-top: solid rgba(0, 0, 0, 0.1) 1px;

            &:not(:last-child){
                margin-bottom: 22px;
            }

            &:last-child{
                border-bottom: solid rgba(0, 0, 0, 0.1) 1px;
                padding-bottom: 22px;
            }
        }

        &_title{
            position: relative;
            cursor: pointer;

            &--active{

                & .level__tabs_btn{
                    transform: rotate(45deg);
                }
            }
        }

        &_btn{
            width: 36px;
            height: 36px;
            position: absolute;
            right: 0;
            border-radius: 100%;
            cursor: pointer;
            transition: all 0.3s ease-in-out;

            &::before{
                display: block;
                content: '';
                width: 1px;
                height: 20px;
                position: absolute;
                background-color: $black;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }

            &::after{
                display: block;
                content: '';
                width: 20px;
                height: 1px;
                position: absolute;
                background-color: $black;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }

            &:hover{
                background-color: $wildSand;
            }
        }

        &_h4{
            display: block;
            max-width: 650px;
            font-family: 'Roboto-Medium', sans-serif;
            font-size: 18px;
            line-height: 27px;
            font-weight: 500;
        }

        &_item{
            max-height: 0;
            opacity: 0;
            overflow: hidden;
            will-change: max-height;    
            transition: all 0.3s ease-in-out;

            & > p{
                width: 94%;
                display: block;
                margin-top: 20px;
                font-family: 'Roboto-Light', sans-serif;
                font-size: 18px;
                line-height: 27px;
                font-weight: 300;
            }

            &--active{
                opacity: 1;
            }
        }
    }

    &__links{
        width: max-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        margin-top: 60px;
        
        &_btn{
            width: 180px;
            height: 54px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 35px;
            border-radius: 5px;
            font-family: 'Roboto-bold', sans-serif;
            font-size: 16px;
            line-height: 19px;
            color: $white;
            background-color: $mantis;
        }

        &_item{
            width: max-content;
            display: flex;
            justify-content: center;
            border-bottom: solid $mantis 1px;
            font-family: 'Roboto-Medium', sans-serif;
            font-size: 18px;
            line-height: 17px;
            font-weight: 500;
            color: $black;

            &:not(:last-child){
                margin-bottom: 20px;
            }
        }
    }
}