.news{
  padding-top: 80px;
  padding-bottom: 80px;
}

.section__news {
    margin-top: 30px;
    clear: both;
  }
  
  .section__item {
    display: flex;
    flex-direction: column;
  
    > h2 {
      font-family: 'Roboto-Bold', sans-serif;
      font-size: 42px;
      color: #000;
      font-weight: 600;
      text-align: center;
    }
  }
  
  .partials-nav {
    margin-top: 30px;
    text-align: center;
  }
  
  .btn__news {
    border: 1px solid #000;
    border-radius: 40px;
    padding: 6px 18px 6px;
    background-color: transparent;
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 16px;
    line-height: 1.35;
    font-weight: 400;
    color: #000;
    cursor: pointer;
  
    &:not(:last-child) {
      margin-right: 8px;
    }
  }
  
  .btn__news--active {
    background-color: #000;
    color: rgba(255, 255, 255, 0.7);
  }
  
  .container__news {
    display: grid;
    grid-template-columns: repeat(3, 31%);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 80px 30px;
    justify-content: space-between;
    margin-top: 50px;
    padding: 0 20px;
  }
  
  .feed__news:hover a {
    text-decoration: none;
    color: unset;
  }
  
  .link__news {
    cursor: pointer;
  }
  
  .title__news {
    margin-bottom: 8px;
    font-family: 'Roboto-Bold', sans-serif;
    color: #000;
    font-size: 20px;
    line-height: 1.35;
    font-weight: 600;
  }
  
  .content__news {
    font-size: 14px;
    line-height: 1.55;
    color: rgba(0, 0, 0, 0.9);
    font-family: 'Roboto-Light', sans-serif;
    font-weight: 300;
  }
  
  .date__news {
    margin-top: 15px;
    font-size: 10px;
    letter-spacing: 1px;
    color: rgba(0, 0, 0, 0.5);
    font-family: 'Roboto-Bold', sans-serif;
    font-weight: 600;
  }
  