.supports{
    padding-bottom: 105px;
    background-color: $alabaster;
    position: relative;

    &__container{
        padding-top: 100px;
    }

    &__slider{
        display: flex;
        flex-direction: column;
        align-items: center;

        & > h2{
            font-family: 'Roboto-Bold',sans-serif;
            font-size: 30px;
            line-height: 1.4;
            font-weight: 600;
        }

        & > span{
            margin-top: 20px;
            font-family: 'Roboto-Light',sans-serif;
            font-size: 20px;
            line-height: 1.55;
            font-weight: 300;
        }

        &_container{
            width: 100%;
            height: 140px;
            margin-top: 10px;
            overflow: hidden;
        }

        &_wrapper{
            height: 100%;
            display: flex;
        }

        &_item{
            min-width: 1200px;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: grab;

            & > img{
                display: block;
                max-width: 150px;
                margin:0 20px;
            }
       }

       &_nav{
           width: 40px;
           height: 40px;
           background-color: $logan;
           border-radius: 100%;
           position: absolute;
           left: 50%;
           top: 50%;
           transform: translate(-50%, -50%);
           transition: background-color .2s ease-in-out;
           cursor: pointer;
       }
    }

    &__designed{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
        margin-bottom: 50px;

        & > h2{
            font-family: 'Roboto-Bold',sans-serif;
            font-size: 30px;
            line-height: 1.4;
            font-weight: 600;
        }
    }

    & > a{
        width: 291px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px auto 0 auto;
        border-radius: 5px;
        background-color: $mantis;
        font-family: 'Roboto-Bold',sans-serif;
        font-size: 16px;
        font-weight: 600;
        color: $white;
    }
}

.designed{
    width: 100%;
    display: flex;
    justify-content: space-around;

    &__wrapper{
        margin-top: 25px;
    }

    &__img{
        width: 200px;
        height: 200px;
    }

    &__item{
        display: flex;
    }

    &__content{
        margin: 20px 0 0 25px;

        & > span {
            display: block;
            margin-bottom: 5px;
            font-family: 'Roboto-Bold',sans-serif;
            font-size: 30px;
            line-height: 1.55;
            font-weight: 600;
        }
    }

    &__caption{
        max-width: 250px;
        display: flex;
        flex-wrap: wrap;

        & > span{
            display: block;
            margin: 0 10px 10px 0;
            padding: 5px 20px;
            border-radius: 30px;
            background-color: $kleinBlue;
            font-family: 'Roboto-Light',sans-serif;
            font-size: 12px;
            line-height: 1.55;
            font-weight: 300;
            color: $white;
        }
    }

    &__description{
        max-width: 250px;
        margin-top: 10px;
        font-family: 'Roboto-Light',sans-serif;
        font-size: 14px;
        line-height: 1.55;
        font-weight: 300;

        & > b{
            font-weight: 600;
        }
    }
}

.offers__slider-button-prev,
.offers__slider-button-next{
    width: 95px;
    height: 139px;
    position: relative;
    position: absolute;
    top: 30%;
    transform: translate(-50%, -43%);
    cursor: pointer;
}


.offers__slider-button-next{
    right: 0;
    transform: translate(0%,-43%);
}

.offers__slider-button-prev{
    left: 50px;
}

.arrow__left,
.arrow__right{
    width: 9px;
    height: 16px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.arrow__left{
    transform: rotate(180deg) translate(50%, 50%);
}


.offers__slider-button-prev:hover .supports__slider_nav,
.offers__slider-button-next:hover .supports__slider_nav{
    background-color: $mantis;
}