.trial{
    padding-bottom: 120px;
    background-color: $alabaster;

    &__downloads{
        padding: 0 20px;
        padding-top: 110px;
    }

    &__breadcrumb{
        display: flex;

        & > li > a{
            font-family: 'Roboto-Light', sans-serif;
            font-weight: 300;
            font-size: 15px;
            line-height: 27px;
            color: $black;
        }

        & > li:first-child > a{
            display: block;
            margin-right: 5px;
            color: $logan;
            font-weight: 400;

            &::after{
                content: '/';
                margin-left: 5px;
            }
        }
    }

    &__tabs{
        display: flex;
        flex-direction: column;

        &_title{
            margin-top: 32px;
            text-align: center;

            & > h1{
                font-family: 'Roboto-Bold', sans-serif;
                font-size: 52px;
                line-height: 61px;
                font-weight: 500;
            }
        }

        &_subtitle{
            margin-top: 12px;

            & > p{
                display: block;
                text-align: center;
                font-family: 'Roboto-Light', sans-serif;
                font-size: 20px;
                line-height: 29px;
                font-weight: 300;

                & > b{
                    font-weight: 700;
                }
            }

            &_line{
                border-bottom: solid $mantis 2px;
            }
        }

        &_content{
            margin-top: 50px;
        }

        &_block{
            padding-left: 0px;
            padding-right: 0px;
        }

        &_wrapper{
            justify-content: space-between;
        }

        &_item{
            max-width: unset;
            font-size: 21px;
            line-height: 28px;
            color: $boulder;
        }

        &_img > img{
            max-width: 559px;
            height: 381px;
        }
    }

    &__tabs_list{
        max-width: 551px;
        padding-top: unset;
    }

    &__link_download{
        width: 151px;
        height: 55px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $mantis;
        border-radius: 5px;
        font-family: 'Roboto-Bold', sans-serif;
        font-size: 16px;
        line-height: 19px;
        font-weight: 700;
        color: $white;
        text-transform: unset;
    }

    &__link_source{
        position: relative;
        border-bottom: solid $mantis 2px;
        font-family: 'Roboto-Light', sans-serif;
        font-size: 16px;
        line-height: 27px;
        font-weight: 300;
        color: $black;
    }

    &__link_nuget{
        
        &::before{
            width: 26px;
            height: 26px;
            display: block;
            content: '';
            position: absolute;
            left: -35px;
            background-image: url('../img/logo-nuget.png');
            background-repeat: no-repeat;
            background-size: cover;
        }
    }

    &__link_github{
        
        &::before{
            width: 26px;
            height: 26px;
            display: block;
            content: '';
            position: absolute;
            top: 2px;
            left: -35px;
            background-image: url('../img/logo-github.png');
            background-repeat: no-repeat;
            background-size: cover;
        }
    }

    &__select_item{
        cursor: pointer;
    }
}

.tabs{

    &__wrapper{
        display: flex;
        justify-content: space-between;
    }

    &__links_container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 30px;
    }

    &__block_title{
        width: max-content;
        margin-top: 35px;
        position: relative;
        font-family: 'Roboto-Regular', sans-serif;
        font-size: 16px;
        line-height: 21px;
        font-weight: 400;
        color: $logan;
        cursor: pointer;

        &::after{
            width: 13px;
            height: 6px;
            display: block;
            content: '';
            position: absolute;
            top: 40%;
            right: -22px;
            background-image: url('../img/dropdwn-arrow.png');
            background-repeat: no-repeat;
            transform: translate(-50%, 0);
        }

        &--open{

            &::after{
                transform: translate(-50%, 0) rotate(180deg);
            }
        }
    }

    &__block_content{
        display: none;
        margin-top: 10px;
        padding-top: 12px;
        border-top: 1px solid rgba(0, 0, 0, 0.1);

        &--active{
            display: block;
        }

        &_title{
            display: flex;
            justify-content: space-between;

            & > span{
                font-family: 'Roboto-Medium', sans-serif;
                font-size: 18px;
                line-height: 27px;
                font-weight: 500;
            }

            & > time{
                font-family: 'Roboto-Light', sans-serif;
                font-size: 14px;
                line-height: 21px;
                font-weight: 300;
            }
        }

        &_wrapper{
            margin-top: 13px;

            & > p{
                display: block;
                padding-left: 18px;
                font-family: 'Roboto-Light', sans-serif;
                font-size: 18px;
                line-height: 27px;
                font-weight: 300;
            }
        }
    }

    &__block_text{
        position: relative;

        &:nth-child(1){

            &::before{
                content: '+';
                position: absolute;
                left: 0px;
            }
        }

        &:nth-child(2){

            &::before{
                content: '-';
                position: absolute;
                left: 2px;
            }
        }

        &:nth-child(3){

            &::before{
                content: '=';
                position: absolute;
                left: 0px;
            }
        }
    }

    &__block_link{
        width: max-content;
        display: block;
        margin-top: 10px;
        border-bottom: solid $mantis 2px;
        font-family: 'Roboto-Light', sans-serif;
        font-size: 18px;
        line-height: 27px;
        font-weight: 300;
        color: $black;
    }

    &__additional{
        display: flex;
        flex-direction: column;
        margin-top: 60px;

        & > h2 {
            text-align: center;
            font-family: 'Roboto-Bold', sans-serif;
            font-size: 30px;
            line-height: 42px;
            font-weight: 500;
        }

        &_wrapper{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 40px;
            margin-top: 25px;
        }

        &_item{
            max-width: 560px;
            min-height: 406px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 40px 30px 41px;
            border: solid $silver 1px;
            border-radius: 5px;
            background-color: $white;
        }

        &_header{

            & > h3{
                font-family: 'Roboto-Bold', sans-serif;
                font-size: 22px;
                line-height: 28px;
                font-weight: 500;
            }
        }

        &_bottom{

            & > b{
                font-weight: 700;
            }
        }

        &_footer{
            display: flex;
            justify-content: space-between;
            align-items: center;

            & > ul{
                display: flex;

                & > li{

                    & > a{
                        padding: 5px 20px;
                        border-radius: 30px;
                        background-color: $logan;
                        font-family: 'Roboto-Medium', sans-serif;
                        font-size: 14px;
                        line-height: 12px;
                        font-weight: 500;
                        color: $white;
                    }

                    &:not(:last-child){
                        margin-right: 18px;
                    }
                }
            }
        }

        &_text{
            display: block;
            margin-top: 15px;
            font-family: 'Roboto-Light', sans-serif;
            font-size: 18px;
            line-height: 27px;
            font-weight: 300;
        }

        &_download{
            width: 48px;
            height: 44px;
            display: block;
            background-image: url('../img/download.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
    }
}

.trial__tabs_block.tabs__content--active{
    display: block;
}

.trial__tabs_item.tabs__title_item--active{
    font-family: 'Roboto-Medium', sans-serif;
    font-weight: 500;
    font-size: 21px;
    line-height: 28px;
    color: $mantis;
}
