@import 'vars';
@import 'mixins';
@import 'fonts';

.logo-title{
  height: 28px;
  fill: $white;
}

.logo-icon{
  width: 50px;
  height: 50px;
  fill: $white;
}

.logo-title__link {
    display: block;
    width: 300px;
}

.logo-header {
  display: flex;
  align-items: center;

  > a > img {
    display: block;
    width: 56px;
    height: 56px;
    margin-top: -7px;
  }
}

.nav__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    > ul > li {
      display: flex;
      align-items: center;
      position: relative;
      margin-left: 30px !important;
    }
  
    &.nav__container--hover > ul > li {
      height: 400px;
    }
}
  
.primary-nav {
    display: flex;
    align-items: center;
}

.demo__link > a{
  position: relative;
  left: 130px;
  text-transform: uppercase;
}

.primary-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    position: relative;
}
  
.header-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}
  
.nav__rightside {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
.nav__buttons {
    display: flex;
}
  
.nav__button_call {
    width: 156px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $white;
    border-radius: 5px;
    font-weight: 500;
    font-size: 14px;
    color: $white;
    text-transform: uppercase;
    text-decoration: none;
}
  
.nav__button_sign {
    width: 113px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    background-color: $white;
    border-radius: 5px;
    font-weight: 500;
    font-size: 14px;
    color: #000000 !important;
    text-transform: uppercase;
    text-decoration: none;
}

.nav__buttons_block{
  width: 100%;
  display: flex;
}

.menu__show {
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
}
  
.arrow__tooltip {
    display: inline;
    vertical-align: middle;
    margin-left: 6px;
    position: relative;
    border-color: inherit;
    pointer-events: none;
  
    &::after {
      content: ' ';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 4px 3px 0 3px;
      position: absolute;
      top: 45%;
      left: 0;
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      border-color: transparent transparent transparent transparent;
      border-top-color: transparent;
      border-top-color: inherit;
      transition: transform 0.3s;
    }
}

.arrow__tooltip_auth{
  color: $white;
}

.menu__show.menu__show--active .arrow__tooltip::after {
    transform: translateY(-50%) rotate(180deg);
}
  
.tooltip__menu{
    display: inline-table; //for Safari....
    width: max-content;
    padding: 0 30px;
    position: absolute;
    top: 237px;
    left: 50%;
    background-color: $white;
    border-radius: 3px;
    list-style-type: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out;
    transform: translate(-50%, 0);

    &:before{
      display: block;
      content: '';
      position: absolute;
      width: 100%;
      height: 40px;
      top: -30px;
    }
}

.tooltip__menu_auth{
  width: max-content;
  padding: 0 30px;
  position: absolute;
  top: 75px;
  left: unset;
  right: -5px;
  background-color: $white;
  border-radius: 3px;
  list-style-type: none;
  opacity: 0;
  visibility: hidden;
  transform: unset;
  transition: opacity 0.3s ease-in-out;

  &:before{
    display: block;
    content: '';
    position: absolute;
    width: 100%;
    height: 40px;
    top: -30px;
  }
}

.tooltip__menu_show{
  opacity: 1;
  visibility: visible;
  z-index: 2;
  filter: drop-shadow(0px 8px 24px rgba(15, 4, 71, 0.16));
}

.tooltip__menu.tooltip__menu_for{
  padding: 0 40px;
}

.tooltip__content {
    display: flex;
    flex-direction: column;
    padding: 35px 0 !important;
  
    > ul {
      max-width: 100%;
      display: flex;
      flex-direction: column;

      &:first-child{
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        padding-bottom: 30px !important;
        margin-bottom: 24px !important;
      }
  
      &::before {
        content: '';
        display: block;
        width: 20px;
        height: 20px;
        background-color: $white;
        position: absolute;
        top: 0;
        left: 50%;
        transform: rotate(45deg) translate(-50%,0);
      }
    }
}

.tooltip__content_auth{
  > ul{
    padding-top: 20px !important;
    
    &:last-child{
      margin-top: 20px !important;
      border-top: 1px solid rgba(0, 0, 0, 0.1);

    }

    &::before {
      content: '';
      display: block;
      width: 20px;
      height: 20px;
      background-color: $white;
      position: absolute;
      top: 7px;
      left: unset;
      right: 3px;
      transform: rotate(45deg) translate(-89%,0);
    }
  }
}

.tooltip__item {
    padding: 0 10px !important;
  
    &:not(:last-child) {
      margin-bottom: 12px !important;
    }
}

.tooltip__item_auth{
  padding: 0 20px !important;
}

.subcontent__item:not(:last-child) {
    margin-bottom: 12px !important;
}
  
.subcontent--show {
    width: 260px;
    display: block;
    position: absolute;
    left: 167px;
    top: 0;
    background-color: $gallery;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
  
.subcontent__wrapper--active {
    display: block;
  
    > ul {
      display: flex;
      flex-direction: column;
      padding: 37px !important;
    }
}
  
.subcontent__item a > span {
  color: #000 !important;
}
 
.social__links > a:not(:last-child) {
  margin-right: 10px;
}
  
#nav {
    width: 100%;
    height: 70px;
    display: flex;
    background-color: transparent;
    margin: 0;
    padding: 0;
    float: left;
    transition: background-color .3s ease-in-out .2s;
}
  
.nav__bg--active{
    background-color: $logan !important;
}

.header-fixed {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
    left: 0;
}
  
 #nav {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      font-size: 15px;
      font-weight: 500;
      line-height: 62px;
      display: flex;
    }
  
    li {
      margin: 0;
      padding: 0;
      background-image: none;
      line-height: normal;
      text-indent: 0;
    }
  
    a {
      color: $white;
      text-decoration: none;
      font-family: 'Roboto-Medium';
    }
}

.hover-link{
    position: relative;
}
  
.hover-link {
    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      opacity: 0;
      width: 100%;
      height: 100%;
      transform: scaleY(0);
      border-bottom: 1px solid $mantis;
      -webkit-box-shadow: inset 0px -1px 0px 0px $mantis;
      -moz-box-shadow: inset 0px -1px 0px 0px $mantis;
      box-shadow: inset 0px -1px 0px 0px $mantis;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
    }
  
    &:hover::after {
      opacity: 1;
      transform: scaleY(1);
    }
}
  
.menu__show {
    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 12px;
      opacity: 0;
      width: 100%;
      height: 100%;
      transform: scaleY(0);
      border-bottom: 1px solid $mantis;
      -webkit-box-shadow: inset 0px -1px 0px 0px $mantis;
      -moz-box-shadow: inset 0px -1px 0px 0px $mantis;
      box-shadow: inset 0px -1px 0px 0px $mantis;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
    }
  
    &:hover::after {
      opacity: 1;
      transform: scaleY(1);
    }
}

.auth__block{
  &::after{
    display: none;
  }
}

#nav li:last-child > a {
    padding-right: 0;
}
  
.logo-header > a {
    display: flex;
    width: 56px;
    padding-left: 0 !important;
}
  
.nav-title {
    display: none;
    color: $white;
    line-height: 100%;
    padding-left: 10px;
    line-height: 1.2em;
}

.tooltip__submenu .tooltip__item .tooltip__link{
  color: $tundora !important;
}

.tooltip__link{
  display: flex;
  justify-content: space-between;
  position: relative;
  color: $black !important;
  font-size: 15px !important;
  font-family: 'Roboto-Regular' !important;
  font-weight: 400;
  line-height: 18px;
  transition: color ease-in-out 0.3s;

  &:hover{
    color: $mantis !important;
  }
}

.tooltip__block{
  display: flex;

  &:not(:last-child){
    margin-bottom: 30px;
  }
}

.tooltip__menu_title{
  max-width: 100%;
  min-width: 102px;
  font-family: 'Roboto-Regular' !important;
  font-weight: 300;
  font-size: 14px;
  font-style: italic;
  line-height: 37px !important;
}

.tooltip__menu_links{
  display: flex;
  margin-left: 40px;
}

.tooltip__menu_links.end__users{
  flex-direction: column;

  & > a {
    color: $black !important;
    font-size: 15px !important;
    font-family: 'Roboto-Regular' !important;
    font-weight: 400;
    line-height: 38px !important;
    transition: color ease-in-out 0.3s;
    
    &:hover{
      color: $mantis !important;
    }
  }

  & > span{
    max-width: 300px;
    color: $tundora;
    font-family: 'Roboto-Regular' !important;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
  }
}

.tooltip__menu_links > ul{
  display: flex;
  flex-direction: column;

  & > li {
    line-height: 38px !important;

    &:first-child{
      text-transform: uppercase;
      font-size: 16px !important;
      font-family: 'Roboto-Medium' !important;
      font-weight: 500;
      line-height: 19px;
    }

    & > a{
      color: $black !important;
      font-size: 15px !important;
      font-family: 'Roboto-Regular' !important;
      font-weight: 400;
      transition: color ease-in-out 0.3s;

      &:hover{
        color: $mantis !important;
      }
    }
  }
}

.tooltip__menu_links > ul:not(:last-child){
  margin-right: 40px !important;
}

.tooltip__content_for > ul:first-child{
  border-bottom: unset !important;
  padding-bottom: unset !important;
  margin-bottom: unset !important;
}

.auth_bg{
  width: 30px;
  height: 30px;
  margin-left: 20px;
  background-image: url("../img/user-auth.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.nav__buttons__auth{
  align-items: center;
}

.auth__profile{
  display: flex;
  padding: 0 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  
  &_item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.auth__img_avatar{
  width: 46px;
  height: 46px;
  margin-right: 19px;
}

.tooltip__username{
  font-family: 'Roboto-Medium';
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: $black !important;
}

.tooltip__useremail{
  font-family: 'Roboto-Regular';
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: $logan;
}

.hidden__block,
.blog__link_mobile{
  display: none !important;
}

// -------------- media -------------- //

@media screen and (max-width: 1300px){
  .tooltip__block{
    flex-direction: column;
  }

  .tooltip__menu_links{
    margin-left: unset;
  }
  .tooltip__menu_links > ul:not(:last-child){
    margin-right: 30px !important;
  }
}

@media screen and (max-width: 1200px){
  .primary-nav {
      width: 92%;
    }

    .demo__link > a {
      left: 100px;
  }
}

@media screen and (max-width: 1090px){
  .primary-nav {
      width: 95%;
  }

  .demo__link > a{
    left: 40px;
  }
}

@media screen and (max-width: 1024px){
  .primary-nav {
    width: 98%;
    margin-left: 0;
  }

  .demo__link > a{
    left: 35px;
  }
}

@media screen and (max-width: 980px){
  #logo,
  .logo-header {
      display: none;
  }

  #nav ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-size: 100%;
    overflow: unset;
}
#primary-nav {
    width: 100%;
    margin-left: 0;
    transition: max-height 0.2s;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #9ea0c1;
    overflow: hidden;
    max-height: 0;
}
#primary-nav.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: 100%;
    overflow: auto;
}

.header-container{
  padding: 7px 20px 0;
}

.primary-nav.active::after{
  width: 100%;
  height: 70px;
  display: block;
  content: '';
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: $white;
  z-index: 10;
}

.nav__rightside,
.nav__buttons {
    flex-direction: column-reverse;
}

.nav__button_call,
.nav__button_sign {
    width: unset;
    height: unset;
    display: block;
    margin-left: 0;
    border: unset;
    background-color: transparent;
    text-align: center;
    color: #fff !important;
}

.tooltip__menu {
    width: 100%;
    display: none;
    margin-top: unset !important;
    padding: unset;
    background-color: transparent;
    position: relative;
    top: 0;
    left: unset;
    opacity: 1;
    visibility: visible;
    transform: unset;
}

.tooltip__menu::before{
  display: none;
}

.tooltip__menu_show{
  display: block;
  margin-top: 10px !important;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: unset;
}

.tooltip__wrapper,
.hover-link {
    max-width: 100%;
}

.tooltip__inner_desktop {
    display: none;
}

.tooltip__inner_mobile {
    display: block;
}

.tooltip__inner,
.subcontent__inner,
.subcontent__item a > span,
.tooltip__arrow {
    color: #fff !important;
}

.tooltip__content > ul::before {
    content: unset;
    display: none;
    position: unset;
}

.tooltip__item:last-child,
.subcontent__item:last-child {
    margin-bottom: unset !important;
}

.subcontent__wrapper ul {
    margin-top: unset !important;
}

.nav__buttons_block{
  padding-top: 30px;
  padding-bottom: 30px;
}

.nav__button_call {
    width: 100%;
    padding: 25px 0;
    border-radius: 3px;
    border: 1px solid $tundora2;
    color: $tundora2 !important;
}

.nav__button_sign{
  width: 100%;
  margin-left: 40px;
  padding: 25px 0;
  border-radius: 3px;
  background-color: $mantis;
}

.hidden__block > .nav__button_call{
  margin-left: 10px;
}

#nav li:not(:last-child) > a {
    margin-right: unset;
}

.primary-nav {
    justify-content: unset;
}

.nav__rightside {
    width: 100%;
    height: 100%;
    margin-top: 30px;
    align-items: unset;
    flex-basis: unset;
}

#primary-nav li,
#primary-nav li.service {
    display: block;
    float: none;
}

#primary-nav li a.service {
    border-width: 0;
}

#primary-nav li {
    display: flex;
    flex-direction: column;
    margin-left: 0 !important;
}

.primary-nav.active{
  background-color: $white !important;
}

.not__submenu {
    font-weight: 500;
}

.burger__menu {
    width: 28px;
    height: 20px;
    display: flex;
    align-items: center;
    background: transparent;
    position: relative;
    padding: 0;
    top: 46%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    z-index: 999;
    cursor: pointer;
}
.burger__menu--span {
    display: block;
    position: absolute;
    width: 100%;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
    height: 3px;
    background-color: #fff;
}

.burger__menu--span:nth-child(1) {
    top: 0;
}

.burger__menu--span:nth-child(2),
.burger__menu--span:nth-child(3) {
    top: 8px;
}

.burger__menu--span:nth-child(4) {
    top: 16px;
}

.burger__menu--active .burger__menu--span:nth-child(1) {
    top: 8px;
    width: 0%;
    left: 50%;
}

.burger__menu--active .burger__menu--span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.burger__menu--active .burger__menu--span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.burger__menu--active .burger__menu--span:nth-child(4) {
    top: 8px;
    width: 0%;
    left: 50%;
}

.burger__menu--active .burger__menu--span{
  background-color: $tundora2;
}

.logo-title--color{
  fill: $tundora2;
}

.arrow__tooltip::after{
  top: 50%;
  border-width: 7px 5px 0;
  color: $mantis;
}

.tooltip--arrow > .arrow__tooltip::after{
  transform: translateY(-50%) rotate(180deg);
}

.tooltip__content > ul {
    margin-top: unset !important;
}

.tooltip__content > ul:first-child {
  border-bottom: unset !important;
  padding-bottom: unset !important;
}

.tooltip__item{
  padding: unset !important;
}

.nav-title {
    display: flex;
    align-items: center;
    padding: 0;
    position: relative;
    z-index: 999;
}

.nav__button_call,
.nav__button_sign {
    position: relative;
}

.nav__button_call::after,
.nav__button_sign::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    opacity: 0;
    width: 100%;
    height: 100%;
    transform: scaleY(0);
    border-bottom: 1px solid #7bc866;
    -webkit-box-shadow: inset 0px -1px 0px 0px #7bc866;
    -moz-box-shadow: inset 0px -1px 0px 0px #7bc866;
    box-shadow: inset 0px -1px 0px 0px #7bc866;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.nav__button_call:hover::after,
.nav__button_sign:hover:after {
    opacity: 1;
    transform: scaleY(1);
}

.hover-link:hover::after,
.menu__show:hover::after{
  display: none;
}

.tooltip__content > ul::before {
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
}

.social__links {
    margin: 30px 0 40px;
}

#primary-nav li:last-child {
    margin-bottom: 20px;
}

.nav__container > ul > li:nth-child(2) {
    margin-top: -3px !important;
}

.tooltip__content {
    flex-direction: unset;
    padding: 0 0 25px 10px !important;
}

.tooltip__content.tooltip__content_for{
  margin-top: -10px;
}

.hover-link{
  padding-left: 10px;
  padding-top: 12px !important;
  padding-bottom: 12px !important;
  color: $black !important;
}

.tooltip__menu_links > ul > li:first-child{
  font-size: 24px !important;
  line-height: 42px !important;
}

.tooltip__menu_links > ul > li:not(:first-child){
  font-size: 20px !important;
}

.tooltip__content > ul{
  padding-top: 25px !important;
}

.tooltip__menu_links > ul > li > a,
.tooltip__menu_links.end__users > a{
  font-size: 24px !important;
  line-height: 60px !important;
}

.tooltip__menu_title{
  font-size: 22px;
  line-height: 62px !important;
}

.tooltip__menu_links.end__users > span{
  max-width: 530px;
  font-size: 18px;
  line-height: 28px;
}

.tooltip__content_auth{
  flex-direction: column;
}

.subcontent--show {
    width: 100%;
    max-width: 400px;
    position: unset;
    left: 0;
    z-index: 1;
    background-color: transparent;
}

.subcontent__wrapper > ul {
    text-align: left !important;
}

.nav__container {
    height: 100%;
    flex-direction: column;
    justify-content: unset;
    padding: 80px 50px 0 21px;
}

.nav__container > ul {
    margin-top: 0 !important;
}

.nav__buttons {
    width: 100%;
    max-width: 100%;
    height: 100%;
    justify-content: space-between;
}

.nav__button_call_auth{
  margin-left: 10px;
}

#nav a {
    color: #fff;
    text-decoration: none;
    font-family: 'Roboto-Bold', sans-serif;
    font-size: 24px;
    line-height: 28px;
}

.subcontent__item {
    flex-direction: column;
}

.tooltip__inner {
    width: 100%;
}

.tooltip__inner--open::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    opacity: 1;
    width: 100%;
    height: 100%;
    transform: scaleY(1);
    border-bottom: 1px solid #7bc866;
    -webkit-box-shadow: inset 0px -1px 0px 0px #7bc866;
    -moz-box-shadow: inset 0px -1px 0px 0px #7bc866;
    box-shadow: inset 0px -1px 0px 0px #7bc866;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.tooltip__arrow_mobile {
    display: inline;
    vertical-align: middle;
    margin-left: 6px;
    margin-top: -3px;
    position: relative;
    border-color: inherit;
    color: #fff;
}

.tooltip__arrow_mobile::after {
    content: ' ';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4px 3px 0 3px;
    position: absolute;
    top: 30%;
    left: 0;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    border-color: transparent transparent transparent transparent;
    border-top-color: transparent;
    border-top-color: transparent;
    border-top-color: inherit;
    transform: rotate(0);
    transition: transform 0.3s;
}

.tooltip__arrow_mobile::after {
    transform: rotate(0deg);
}

.tooltip__inner--active .tooltip__arrow_mobile::after {
    transform: rotate(180deg);
}

.tooltip__link {
    justify-content: flex-start;
    font-size: 24px !important;
    line-height: 24px;
}

.menu__show{
  padding: 0;
  padding-left: 10px;
  justify-content: unset;
  color: $black !important;
}

.arrow__tooltip{
  margin-left: 13px;
}

.subcontent__wrapper--active {
    display: flex;
    margin-top: 20px;
}

.tooltip__arrow {
    display: none;
}

.tooltip__item:last-child .tooltip__inner {
    margin-bottom: unset;
}

.tooltip__block{
  margin-bottom: 30px;
}

.demo__link > a{
  left: 0;
}

.subcontent__item a > span {
    display: block;
    width: 100% !important;
}

.tooltip__item {
    padding-bottom: 7px !important;
}

.subcontent__inner::after {
    left: -30px;
}

.nav__container > ul > li {
    height: unset;
    display: unset;
    position: unset;
    align-items: unset;
    padding-left: unset !important;
}

.social__links {
    position: unset;
}

.container__news {
    display: flex;
    flex-direction: column;
  }

  .tooltip__menu_auth{
    display: block;
    right: unset;
  }

  .tooltip__menu.tooltip__menu_for{
    padding: 0;
    border-radius: unset;
  }

  .tooltip__block:not(:last-child) {
    margin-bottom: 0;
  }

  .demo__link {
    padding-bottom: 12px;
    padding-top: 12px;
  }

  .auth__profile {
    display: flex;
    padding: 20px 10px 20px;
    border-bottom: unset;
    border-top: 1px solid rgba(0,0,0,.1);
  }

  .tooltip__content.tooltip__content_auth{
    padding: 0 !important;
  }

  .tooltip__content_auth > ul:last-child {
    margin-top: unset !important;
    border-top: unset;
  }

  .auth__block{
    display: none;
  }

  .tooltip__item_auth{
    padding-left: 10px !important;
  }

  .tooltip__item:not(:last-child) {
    margin-bottom: 20px !important;
  }

  .auth__img_avatar{
    width: 72px;
    height: 72px;
  }

  .tooltip__content_auth > .tooltip__submenu:last-child{
    margin-top: -5px !important;
  }

  .nav__button_call::after,
  .nav__button_sign::after {
    display: none;
  }

  .hidden__link{
    display: none !important;
  }

  .blog__link_mobile{
    display: flex !important;
  }
}

@media screen and (max-width: 640px){
  .tooltip__menu_links-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .tooltip__ul_grid1{
    grid-row: span 2;
}
}

@media screen and (max-width: 520px){
  .menu__show,
  .hover-link,
  .tooltip__link,
  .tooltip__menu_links > ul > li:first-child,
  .tooltip__menu_links > ul > li > a,
  .tooltip__menu_links.end__users > a{
    font-size: 18px !important;
  }

  .tooltip__menu_links > ul > li > a,
  .tooltip__menu_links.end__users > a{
    line-height: 48px !important;
  }

  .tooltip__menu_title{
    font-size: 16px;
  }

  .nav__button_call,
  .nav__button_sign{
    font-size: 16px !important;
    line-height: 8px !important;
  }

  .arrow__tooltip::after{
    border-width: 6px 4px 0;
  }

  .tooltip__username{
    font-size: 22px !important;
  }
}

@media screen and (max-width: 420px){
  .logo-title__link{
    width: 240px;
  }

  .logo-title{
    width: 250px;
  }

  .menu__show,
  .hover-link,
  .tooltip__link,
  .tooltip__menu_links > ul > li:first-child,
  .tooltip__menu_links > ul > li > a,
  .tooltip__menu_links.end__users > a{
    font-size: 15px !important;
  }

  .tooltip__menu_links > ul > li > a,
  .tooltip__menu_links.end__users > a{
    line-height: 36px !important;
  }

  .tooltip__menu_title,
  .tooltip__menu_links.end__users > span{
    font-size: 14px;
  }

  .nav__container{
    padding: 80px 30px 0 21px;
  }

  .nav__button_sign{
    margin-left: 20px;
  }

  .tooltip__content {
    padding: 0 0 0 10px !important;
  }

  .hover-link {
    padding-top: 9px !important;
    padding-bottom: 9px !important;
  }

  .tooltip__content > ul {
    padding-top: 15px !important;
  }

  .tooltip__menu_show{
    margin-top: 4px !important;
  }

  .tooltip__menu_title{
    line-height: 42px !important;
  }

  .tooltip__link{
    line-height: 14px !important;
  }

  .arrow__tooltip::after{
    border-width: 5px 3px 0;
  }

  .tooltip__username{
    font-size: 18px !important;
  }

  .tooltip__useremail{
    font-size: 14px;
  }

  .tooltip__content_auth > .tooltip__submenu:last-child {
    margin-top: 3px !important;
  }
}

@media screen and (max-width: 359px){
  .menu__show,
  .hover-link,
  .tooltip__link,
  .tooltip__menu_links > ul > li:first-child,
  .tooltip__menu_links > ul > li > a,
  .tooltip__menu_links.end__users > a{
    font-size: 14px !important;
  }

  .tooltip__menu_links > ul > li > a,
  .tooltip__menu_links.end__users > a{
    line-height: 32px !important;
  }

  .tooltip__menu_title,
  .tooltip__menu_links.end__users > span{
    font-size: 14px;
  }

  .nav__container {
    padding: 60px 20px 0 11px;
}

.nav__button_sign{
  margin-left: 10px;
}

.logo-title__link{
  width: 210px;
}

.logo-title{
  width: 230px;
}
}