@import 'vars';
@import 'mixins';
@import 'fonts';

@font-face {
    font-family: 'Roboto-Light', sans-serif;
    src: url('../fonts/Roboto-Light.woff2');
    font-weight: 300;
}

@font-face {
    font-family: 'Roboto-Regular', sans-serif;
    src: url('../fonts/Roboto-Regular.woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'Roboto-Medium', sans-serif;
    src: url('../fonts/Roboto-Medium.woff2');
    font-weight: 500;
}

@font-face {
    font-family: 'Roboto-Bold', sans-serif;
    src: url('../fonts/Roboto-Bold.woff2');
    font-weight: 700;
}

*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html{
    height: 100%;
}

body{
    height: 100%;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
}

.container{
    max-width: $max-width;
    min-width: $min-width;
    margin: 0 auto;
}

// .body__modal--active{
//     overflow: hidden;
//     margin-left: -13px;
// }

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
}

input:focus,
textarea:focus,
select:focus,
button:focus{
    outline: none;
}

.cc-revoke,
.cc-window{
    z-index: 999999 !important;
}

@import 'header';
@import 'advantages';
@import 'tabs';
@import 'info-service';
@import 'demo';
@import 'offers';
@import 'supports';
@import 'users';
@import 'trusted';
@import 'help';
@import 'news';
@import 'footer';
@import 'effective';
@import 'about';
@import 'project-api';
@import 'started';
@import 'analyzer';
@import 'business-section';
@import 'make-dev';
@import 'analyst';
@import 'component';
@import 'level';
@import 'make-users';
@import 'end-user';
@import 'module-software';
@import 'safe-time';
@import 'support-area';
@import 'trial-downloads';
@import 'popup-modal';
@import 'media';